@media screen and (max-width: 375px) {
  .close-container {
    display: flex;
    justify-content: flex-end;
  }

  .close-container .close-box {
    margin: 3.178666667vw;
    width: 8.533333334vw;
    height: 8.533333334vw;
    cursor: pointer;
  }
  .close-container .close-box img {
    width: 100%;
  }

  .login-page__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .login-page-left__wrapper {
    flex-grow: 1;
    width: 100%;
  }

  .main-login-box {
    width: 87.2vw;
  }

  .main-login-box > h2 {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
    margin: 8vmin 0vw;
  }

  .main-login-box form {
    margin-top: 8vmin;
  }

  .main-login .custom-input {
    padding: 2.666666667vmin 2.933333334vw 3.2vmin;
    margin: 4.266666667vmin 0vw;
  }

  .main-login .custom-input > input {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .main-login .custom-input > img {
    width: 5vw;
  }

  .main-login-box form .forgot-password {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    margin: 4.266666667vmin 0vw;
  }

  .main-login-box form .login-btn {
    padding: 2.666666667vw 8.533333334vw 2.933333334vw;
    margin: 6.4vmin 0vw;

    font-weight: 600;
    font-size: 4.266666667vw;
    line-height: 6.4vw;
    letter-spacing: 0.026666667vw;
  }

  .main-login-box form span {
    font-weight: 300;
    font-size: 3.733333333vmin;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
  }

  .oauth-box {
    gap: 4.533333334vw;
    margin: 6.4vmin 0vw;
  }

  .oauth-btn {
    padding: 2.666666667vmin;
  }

  .oauth-btn > img {
    height: 6.4vmin;
    margin-right: 2.666666667vw;
  }

  .oauth-btn > p {
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .register-link {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 6.4vw;
    letter-spacing: 0.026666667vw;
    margin-bottom: 4vmin;
  }

  .login-link > a {
    font-weight: 400;
    line-height: 6.4vw;
    letter-spacing: 0.026666667vw;
    margin-left: 3.2vw;
  }

  /* ---------------------- */
  .login-page-right__wrapper {
    width: unset;
    display: none !important;
  }
}
