/* -------- FILTER ----------- */
.filter__wrapper {
  position: relative;
  z-index: 100;
}

.filter {
  background: #ffffff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.05));

  padding: 14px 60px;
}

.filter form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filter form .search-form {
  display: flex;
  align-items: center;
  background: #ffffff;

  box-sizing: border-box;
  border-radius: 6px;
  /* padding: 3px 12px; */
  height: 40px;

  border: 0.5px solid #bdbdbd;
}

.filter form .search-form .dropdown-select {
  position: relative;
  border: none;
  border-radius: 6px 0px 0px 6px;
  padding: 3px 12px;
  border-right: 0.5px solid #bdbdbd;
  height: 100%;
}

.filter form .search-form span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;
}

.filter form .search-form .dropdown-select > img {
  margin-left: 20px;
}

.filter form .search-form input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #828282;
  border: none;
  outline: none;
  min-width: 258px;
  margin-left: 10px;
}

.filter form .filter-detail {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 12px;
}

.filter form .filter-detail .filter-item {
  position: relative;
  flex: 1;
  height: 40px;
}

.filter .dropdown-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;
  padding: 3px 12px;
  cursor: pointer;
}

.filter .dropdown-select::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 8px;
  width: 100%;
  background-color: transparent;
}

.filter .dropdown-select > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;

  /* Limit 1 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.filter .dropdown-select > img {
}

.filter .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: unset !important;
  width: 124px;
  padding: 7px 8px 9px;
  background: #a78863;
  border-radius: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
  cursor: pointer;
}

.filter form .filter-icon__wrapper {
  position: relative;
  display: none;
}
.filter form .filter-icon__wrapper label {
  display: block;
  cursor: pointer;
}

/* ------------- FILTER WRAPPER ------------*/
#filter-checkbox {
  display: none;
}
#filter-checkbox ~ .full-filter__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  background-color: #ffffff;
}

/* ------------- END FILTER WRAPPER ------------*/

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  left: -1px;
  top: 44px;
  width: 276px;
  height: 300px;
  max-height: 300px;
  overflow-y: auto;

  background: #ffffff;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 100;

  padding: 10px 0px;
}

/* Sub dropdown menu */
.dropdown-menu .dropdown-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 20px;
  height: 40px;
}
.dropdown-menu .dropdown-menu-header .back {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-menu .dropdown-menu-header .back img {
}
.dropdown-menu .dropdown-menu-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #333333;
}
.dropdown-menu .dropdown-menu-header .blank {
  width: 32px;
  height: 32px;
}

/* Range min to max */
.dropdown-menu .dropdown-menu-header .range-btn {
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #828282;

  width: 104px;
  height: 100%;
  padding: 0px 10px;
}
.dropdown-menu .dropdown-menu-header .range-btn:focus-visible {
  outline: none;
}
.dropdown-menu .dropdown-menu-header span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #828282;
}

.dropdown-menu::-webkit-scrollbar {
  display: block !important;
  width: 4px;
}
.dropdown-menu::-webkit-scrollbar-track {
  background: #f2f2f2;
}
.dropdown-menu::-webkit-scrollbar-thumb {
  background: #caa67b;
  border-radius: 10px;
}
/* Handle on hover */
.dropdown-menu::-webkit-scrollbar-thumb:hover {
}

.dropdown-menu-hire-sell::-webkit-scrollbar {
  display: none !important;
}

.dropdown-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 40px;
  transition: all 0.3s;
}

.dropdown-menu-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu-item:hover {
  background: #f6f3ef;
}

/* Custom hire sell dropdown  */
.dropdown-menu-hire-sell {
  width: 100px;
  height: 100px;
}
.dropdown-menu-hire-sell .dropdown-menu-item {
  padding: 0px 12px;
}

/* Custom select and dropdown extension */
.dropdown-select-extension {
}
.dropdown-select-extension .total-extension {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: auto;
  margin-left: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #ffffff;

  background: #a78863;
  border-radius: 50%;
}

.dropdown-menu-extension {
  width: 316px;
  height: 410px;
  min-width: 316px;
  min-height: 410px;
  padding: 10px 20px;

  left: unset;
  right: -1px;

  overflow-y: visible;
}
.dropdown-menu-extension-item {
}
.dropdown-menu-extension-item .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #333333;
  height: 40px;
}
.dropdown-menu-extension-item .selection__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.dropdown-menu-extension-item .selection__wrapper .select-btn {
  height: 36px;
  min-width: 46px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #333333;

  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
}
.dropdown-menu-extension-item .selection__wrapper .select-all-btn {
  flex: 1;
}
.dropdown-menu-extension-item .selection__wrapper .select-btn.active,
.dropdown-menu-extension-item .selection__wrapper .select-btn:hover {
  background: #f6f3ef;
}

.dropdown-menu-extension-item .sub-dropdown-select-extension {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}
.dropdown-menu-extension-item .sub-dropdown-select-extension::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 8px;
  width: 100%;
  background-color: transparent;
}
.dropdown-menu-extension-item .sub-dropdown-select-extension span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;

  /* Limit 1 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.dropdown-menu-extension-item .sub-dropdown-select-extension img {
}

.sub-dropdown-menu-extension {
  display: none;
  position: absolute;
  top: 40px;
  left: -1px;
  width: 100%;
  height: 220px;
  max-height: 220px;
  overflow-y: auto;

  background: #ffffff;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 110;

  padding: 10px 0px;
}

.sub-dropdown-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 40px;
  transition: all 0.3s;
}
.sub-dropdown-menu-item:hover {
  background: #f6f3ef;
}
.sub-dropdown-menu-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
  white-space: nowrap;
}

/* Hover to display the menu dropdown */
.dropdown-select-hire-sell:hover .dropdown-menu-hire-sell {
  display: block;
}
.dropdown-select-type:hover .dropdown-menu-type {
  display: block;
}
.dropdown-select-area:hover .dropdown-menu-area {
  display: block;
}
.dropdown-select-price:hover .dropdown-menu-price {
  display: block;
}
.dropdown-select-size:hover .dropdown-menu-size {
  display: block;
}
.dropdown-select-extension:hover .dropdown-menu-extension {
  display: block;
}
/* Sub selection */
.sub-dropdown-select-extension-ward:hover .sub-dropdown-menu-extension-ward {
  display: block;
}
.sub-dropdown-select-extension-street:hover
  .sub-dropdown-menu-extension-street {
  display: block;
}
.sub-dropdown-select-extension-direction:hover
  .sub-dropdown-menu-extension-direction {
  display: block;
}

.dropdown-select-area:hover .dropdown-menu-extend-area {
  /* Test */
  display: block;
  left: 276px;
}
/* End drop down menu */

/* ------- END FILTER --------- */

.for-rent-page__wrapper {
}
.for-rent-page {
}

.breadcrumb__wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

.breadcrumb__wrapper .breadcrumb {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #828282;
}

.breadcrumb__wrapper .breadcrumb span:hover {
  cursor: pointer;
}

.main-content {
  /* padding-top: 30px;
  padding-bottom: 80px; */
}

.main-content h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #0d0c22;
  margin: 16px 0px;
}

.main-content .description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content .description > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #6e6d7a;
}

.main-content .description .sort-dropdown {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

.main-content .description .sort-dropdown p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.main-content .description .sort-dropdown img {
  margin-left: 18px;
}

.for-rent-list {
  position: relative;
  /* z-index: -1; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 40px;
  padding: 40px 0px;
}

.pagination__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__wrapper .pagination-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagination__wrapper .pagination-list .pagination-item {
  background: #ffffff;
  border-radius: 4px;
  border: 0.5px solid #bdbdbd;
  width: 32px;
  height: 32px;

  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #828282;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__wrapper .pagination-list .pagination-item.pre-page img {
  transform: rotate(180deg);
}

.pagination__wrapper .pagination-list .pagination-item.active,
.pagination__wrapper .pagination-list .pagination-item:hover {
  background: #a78863;
  color: #ffffff;
}

.hint__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
.hint__wrapper h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #0d0c22;
  margin-bottom: 50px;
}
.address-list__wrapper {
  width: 65%;
}

.address-list__wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address-list__wrapper ul li {
  display: flex;
  align-items: center;
  margin: 4px 0;
  font-size: 15px;
  flex-basis: calc(50% - 16px);
  cursor: pointer;
}

.address-list__wrapper ul li img {
}

.address-list__wrapper ul li span {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  margin-left: 12px;
}

.address-list__wrapper ul li.active span,
.address-list__wrapper ul li:hover span {
  text-decoration-line: underline;
  color: #a78863;
}
