@media screen and (max-width: 375px) {
  /* ============= FILTER ============= */
  .filter__wrapper {
  }

  .filter {
    box-shadow: 0vw 0.533333334vw 0.533333334vw rgba(0, 0, 0, 0.04);
    padding: 1.866666667vw 3.733333334vw 2.4vw;
  }

  .filter form {
    gap: 3.733333334vw;
  }

  .filter form .search-form {
    border-radius: 1.6vw;
    border: 0.133333334vw solid #bdbdbd;
    flex: 1;
    height: 10.13333334vw;
  }

  .filter form .search-form .dropdown-select {
    border-radius: 1.6vw 0vw 0vw 1.6vw;
    padding: 0.8vw 3.2vw;
    border-right: 0.133333334vw solid #bdbdbd;
    width: 26.66666667vw;
  }

  .filter form .search-form .dropdown-select span {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .filter form .search-form .dropdown-select > img {
    width: 3.2vw;
  }

  .filter form .search-form input {
    min-width: unset;
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    margin-left: 2.666666667vw;
  }

  .filter form .filter-detail {
    flex: unset;
    display: none;
  }

  .filter form .filter-icon__wrapper {
    display: block;
    width: 5.866666667vw;
    height: 5.866666667vw;
  }

  .filter-icon__wrapper .total-filter {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -50%);

    border-radius: 50%;
    background: #a78863;
    width: 3.2vw;
    height: 3.2vw;

    color: #fff;
    font-weight: 400;
    font-size: 2.4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ============= FILTER WRAPPER =============*/
  #filter-checkbox:checked ~ .full-filter__wrapper {
    display: block;
  }
  .full-filter-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ffffff;
    padding: 3.733333334vw;
    box-shadow: 0vw 0.533333334vw 0.533333334vw rgba(0, 0, 0, 0.04);
  }
  .full-filter-header__wrapper .reset-btn {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #a78863;
    cursor: pointer;
  }
  .full-filter-header__wrapper .title {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }
  .full-filter-header__wrapper .close-full-filter-btn {
    width: 8.533333334vw;
    height: 8.533333334vw;
    cursor: pointer;
  }
  .full-filter-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;

    overflow-y: auto;
    padding: 8vw 3.733333334vw;
  }

  .full-filter-form__wrapper .full-filter-form-item {
    width: 100%;
    margin-bottom: 5.333333334vw;
  }

  .full-filter-form__wrapper .help-text {
    font-weight: 300;
    font-size: 3.733333334vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
    margin-top: 2.666666667vw;
  }

  .full-filter-form__wrapper .dropdown-select {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ffffff;
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;

    padding: 1.333333334vw 1.066666667vw 1.333333334vw 3.2vw;
  }
  .full-filter-form__wrapper .dropdown-select span {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 6.4vw;
    letter-spacing: 0.026666667vw;
    color: #4f4f4f;
  }
  .full-filter-form__wrapper .dropdown-select .dropdown-icon {
    width: 8.533333334vw;
    height: 8.533333334vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full-filter-form__wrapper .expand-btn {
    display: flex;
    align-items: center;
    margin-bottom: 5.333333334vw;
    cursor: pointer;
  }
  .full-filter-form__wrapper .expand-btn span {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 6.4vw;
    letter-spacing: 0.026666667vw;
    color: #4f4f4f;
  }
  .full-filter-form__wrapper .expand-btn .dropdown-icon {
    width: 8.533333334vw;
    height: 8.533333334vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full-filter-form__wrapper #expand-filter-checkbox {
    display: none;
  }

  .full-filter-form__wrapper .form-extension__wrapper {
    display: none;
    width: 100%;
  }

  .full-filter-form__wrapper
    #expand-filter-checkbox:checked
    ~ .form-extension__wrapper {
    display: block;
  }

  .full-filter-form__wrapper #expand-filter-checkbox:checked ~ .expand-btn {
    display: none;
  }

  .full-filter-form__wrapper .help-text {
    font-weight: 300;
    font-size: 3.733333334vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }

  .full-filter-form__wrapper .action-filter-btn {
    width: 100%;
    padding: 2.666666667vw 8.533333334vw 2.933333334vw;
    background: #a78863;
    border-radius: 1.6vw;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.053333334vw;
    color: #ffffff;

    font-weight: 600;
    font-size: 4vw;
    line-height: 150%;

    margin-top: auto;
    margin-bottom: 16vw;
    cursor: pointer;
  }

  /* -------- PULL UP MENU LIST ----------- */
  .pullup-checkbox {
    /* display: none; */
  }
  .full-filter-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.65;
    background: #000000;
    z-index: 110;
    transition: all 0.6s;
  }

  .pullup-menu__wrapper {
    position: fixed;
    left: 0;
    bottom: calc(-100vh + 16vw);
    width: 100vw;
    max-height: calc(100vh - 16vw);

    background: #ffffff;
    border-radius: 5.333333334vw 5.333333334vw 0vw 0vw;
    z-index: 150;
    transition: all 0.6s;
    overflow-y: auto;
  }

  .pullup-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 0.133333334vw solid #bdbdbd;
    padding: 3.733333334vw 1.333333334vw;
  }
  .pullup-menu-header .title {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }
  .pullup-menu-header .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.533333334vw;
    height: 8.533333334vw;
    cursor: pointer;
  }
  .pullup-menu-header .close-btn img {
  }

  .pullup-menu {
    padding: 2.8vw 3.733333334vw 5.333333334vw;
  }
  .pullup-menu .pullup-menu-search {
    display: flex;
    align-items: center;

    background: #f9f9f9;
    border-radius: 1.6vw;
  }
  .pullup-menu .pullup-menu-search .img {
    width: 4.8vw;
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0vw 2.133333334vw 0vw 3.2vw;
  }
  .pullup-menu .pullup-menu-search input[type="text"] {
    flex: 1;
    height: 10.66666667vw;
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.053333334vw;
    color: #828282;
    background: #f9f9f9;

    border: none;
    outline: none;
    padding-right: 2.133333334vw;
  }
  .pullup-menu .pullup-menu-search input[type="text"]::placeholder {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #828282;
  }

  .pullup-menu .pullup-menu-range__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pullup-menu .pullup-menu-range__wrapper input {
    background: #ffffff;
    border: 0.133333334vw solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 1.6vw;

    width: 41.06666667vw;
    height: 10.66666667vw;

    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.053333334vw;
    color: #828282;
  }
  .pullup-menu .pullup-menu-range__wrapper input:focus-visible {
    outline: none;
  }

  .pullup-menu .pullup-menu-item {
    height: 12.8vw;
    cursor: pointer;
  }

  /* Custom radio group */
  .pullup-menu .pullup-menu-item .radio {
    position: relative;
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }

  .pullup-menu .pullup-menu-item .radio input[type="radio"] {
    display: none;
  }

  .pullup-menu .pullup-menu-item .radio span {
    position: relative;
    display: block;
    height: 4.8vw;
    width: 4.8vw;
    border: 0.266666667vw solid #bdbdbd;
    border-radius: 50%;
  }

  .pullup-menu .pullup-menu-item .radio span::after {
    display: block;
    content: "";
    width: 3vw;
    height: 3vw;
    background: #828282;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 0.2s ease-in-out 0s;
  }
  .pullup-menu
    .pullup-menu-item
    .radio
    input[type="radio"]:checked
    ~ span::after {
    transform: translate(-50%, -50%) scale(1);
  }

  /* Custom select khu vực */
  .pullup-menu .pullup-menu-item .select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 12.8vw;
  }
  .pullup-menu .pullup-menu-item .select span {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }
  .pullup-menu .pullup-menu-item .select .arrow-right {
    width: 8.533333334vw;
    height: 8.533333334vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* SUB PULL UP MENU AREA */
  .sub-pullup-menu-area__wrapper {
    left: unset;
    right: -100%;
    bottom: 0;
  }
  .sub-pullup-menu-area__wrapper .back {
    width: 8.533333334vw;
    height: 8.533333334vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* Click to display the pull up menu */
  .pullup-checkbox:checked ~ .full-filter-overlay {
    display: block;
  }
  #type-pullup-checkbox:checked ~ .pullup-menu-type__wrapper {
    bottom: 0;
  }
  #price-pullup-checkbox:checked ~ .pullup-menu-price__wrapper {
    bottom: 0;
  }
  #size-pullup-checkbox:checked ~ .pullup-menu-size__wrapper {
    bottom: 0;
  }
  #direction-pullup-checkbox:checked ~ .pullup-menu-direction__wrapper {
    bottom: 0;
  }
  #bedroom-pullup-checkbox:checked ~ .pullup-menu-bedroom__wrapper {
    bottom: 0;
  }
  #area-pullup-checkbox:checked ~ .pullup-menu-area__wrapper {
    bottom: 0;
  }
  /* Sub khu vực area */
  #sub-area-pullup-checkbox:checked ~ .sub-pullup-menu-area__wrapper {
    right: 0;
  }
  #sub-area-pullup-checkbox:checked ~ .pullup-menu-area__wrapper {
    left: -100%;
  }

  /* -------- END PULL UP MENU LIST ----------- */

  /* ============= END FILTER WRAPPER ============= */

  /* Dropdown menu */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 11.73333334vmin;
    left: -0.266666667vw;
    width: 73.6vw;
    height: 80vw;
    max-height: 80vw;
    overflow-y: auto;

    background: #ffffff;
    box-shadow: 1.066666667vw 1.066666667vw 4.266666667vw rgba(0, 0, 0, 0.15);
    border-radius: 1.6vw;
    z-index: 100;

    padding: 2.666666667vw 0vw;
  }

  /* ============= END FILTER ============= */

  .breadcrumb__wrapper {
    padding: 2.4vw 3.733333334vw;
  }

  .breadcrumb__wrapper .breadcrumb {
    font-weight: 400;
    font-size: 3.733333334vw;
  }

  .main-content {
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }

  .main-content h2 {
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
    margin: 4.266666667vw 0;
  }

  .main-content .description {
    align-items: flex-start;
  }

  .main-content .description > p {
    font-size: 3.733333334vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
    color: #6e6d7a;
  }

  .main-content .description .sort-dropdown p {
    font-weight: 300;
    font-size: 3.733333334vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
    white-space: nowrap;
  }

  .main-content .description .sort-dropdown img {
    margin-left: 2.33333334vw;
    width: 3.2vw;
  }

  /* List */

  .for-rent-list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 8vw;
    padding-top: 8vw;
    padding-bottom: 10.666666667vw;
  }

  .for-rent-list .product__wrapper {
    width: 100%;
  }

  .for-rent-list .product__wrapper .product-card {
    border-radius: 2.133333334vw;
  }

  .for-rent-list .product__wrapper .product-card img {
    border-radius: 2.133333334vw;
  }

  /* --------- Pagination ------------ */
  .pagination__wrapper .pagination-list {
    gap: 1.6vw;
  }

  .pagination__wrapper .pagination-list .pagination-item {
    width: 8.533333334vw;
    height: 8.533333334vw;
    border-radius: 1.066666667vw;
    border: 0.133333334vw solid #bdbdbd;

    font-size: 4.266666667vw;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.053333333vw;
  }

  /* ---------- DIA DIEM GOI Y ------------ */
  .hint__wrapper {
    padding: 13.333333334vw 3.733333334vw;
  }
  .hint__wrapper h2 {
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
    margin-bottom: 5.866666667vw;
  }
  .address-list__wrapper {
    width: 100%;
  }

  .address-list__wrapper ul li {
    margin: 2.133333334vw 0;
    flex-basis: 100%;
  }

  .address-list__wrapper ul li img {
    width: 2.666666667vw;
  }

  .address-list__wrapper ul li span {
    font-size: 4.266666667vw;
    line-height: 150%;
  }
}
