/* banner__wrapper */
.payment-schedule-page .banner__wrapper {
  width: 100%;
  height: 332px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Custom breadcrumb white color */
.payment-schedule-page .breadcrumb__wrapper .breadcrumb {
  color: #ffffff;
}

.payment-schedule-page .banner__wrapper .banner-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.payment-schedule-page .banner__wrapper .banner-content .banner-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.2px;

  padding: 20px 0px;
}
.payment-schedule-page .banner__wrapper .banner-content .banner-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}
.payment-schedule-page .banner__wrapper .banner-content .banner-main-content {
  margin-bottom: 81px;
}

/* calcutating__wrapper */
.calcutating__wrapper {
  padding: 50px 0px;
}

.calcutating__wrapper .calcutating__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  column-gap: 123px;
}
.calcutating__wrapper .calcutating__container .calcutating__form_container,
.calcutating__wrapper .calcutating__container .calcutating__results {
  width: 50%;
}

.calcutating__wrapper
  .calcutating__container
  .calcutating__form_container
  .calcutating__form
  .text-field {
  margin-bottom: 20px;
}
.calcutating__wrapper
  .calcutating__container
  .calcutating__form_container
  .calcutating__form
  .text-field
  .label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4f4f4f;
  padding-bottom: 12px;
}
.calcutating__wrapper .text-field .input__wrapper {
  position: relative;
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 7px 12px 7px;
  display: flex;
  align-items: center;
}
.calcutating__wrapper .text-field .input__wrapper input {
  position: relative;
  width: 90%;
  background: #ffffff;
  border: 0px solid #bdbdbd;
  box-sizing: border-box;
  /* border-radius: 6px; */
  /* padding: 7px 12px 7px; */

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #4f4f4f;
  outline: none;
}
.calcutating__wrapper .text-field .input__wrapper .suffix {
  position: absolute;
  right: 3px;
  background-color: white;
  padding: 0px 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;

  color: #828282;
}

.primary-button {
  z-index: 2;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-style: solid;
  border-width: 0px;
  margin-top: 30px;
  background-color: #a78863;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.dropdown-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;
  padding: 7px 12px;
  cursor: pointer;
}
.dropdown-select > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;

  /* Limit 1 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.dropdown-select > input[type="text"] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;

  width: 100%;
  background: #f9f9f9;
  border: none;
  outline: none;
}
.dropdown-select > input[type="text"]::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;
}
.dropdown-select::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
  background-color: transparent;
}
/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: -1px;
  width: calc(100% + 2px);
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;

  background: #ffffff;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 100;

  padding: 10px 0px;
}

/* calcutating__results */
.calcutating__wrapper .calcutating__container .calcutating__results {
  background-color: #f6f3ef;
  border-radius: 6px;
  padding: 30px 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.calcutating__wrapper
  .calcutating__container
  .calcutating__results
  .value__wrapper {
  font-weight: 500;
  font-size: 44px;
  line-height: 150%;
  /* identical to box height, or 66px */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* Style */

  color: #a78863;
}

/* Btn - Chi tiết lịch trả nợ */
.calcutating__wrapper
  .calcutating__container
  .calcutating__results
  .detail-btn {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.1px;
  color: #a78863;

  padding: 7px 32px 9px;
  border: 1px solid #a78863;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

.calcutating__wrapper
  .calcutating__container
  .calcutating__results
  .text-field
  .label {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* Gray 2 */

  color: #4f4f4f;
}

.calcutating__wrapper
  .calcutating__container
  .calcutating__results
  .text-field {
  /* margin-bottom: 30px; */
}

.text-field:last-child {
  margin-bottom: 0px !important;
}

/* -------- TABLE -------- */
.schedule-table__wrapper {
}

.schedule-table__wrapper .schedule-table {
  padding-top: 80px;
  padding-bottom: 80px;
}

.schedule-table__wrapper .schedule-table table {
  width: 100%;
  border: none;

  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.schedule-table__wrapper .schedule-table table tbody {
  display: table;
  width: 100%;
}

.schedule-table__wrapper .schedule-table tr {
}

.schedule-table__wrapper .schedule-table tr:nth-child(odd) {
  background: #f6f3ef;
}
.schedule-table__wrapper .schedule-table tr:first-child {
  background: unset;
}

.schedule-table__wrapper .schedule-table .schedule-table-header {
  position: relative;
}

.schedule-table__wrapper .schedule-table .schedule-table-header::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background-color: #bdbdbd;
}

.schedule-table__wrapper .schedule-table th {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
  text-align: center;

  padding: 12px 20px;
  min-width: 160px;
}

.schedule-table__wrapper .schedule-table td {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  height: 48px;
  width: 20%;
}

.schedule-table__wrapper .schedule-table .first-column {
  min-width: unset;
}
/* -------- END TABLE -------- */

/* loan_packages__wrapper */
.loan_packages__wrapper {
  margin-top: 30px;
}
.loan_packages__wrapper .divider {
  width: 100%;
  height: 1px;
  background-color: #bdbdbd;
  margin-bottom: 30px;
}
.container .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;
  margin-top: 50px;
}
.loan_packages__list .list {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.loan_packages__list .list .list-item {
  padding: 20px 20px 30px 20px;
  width: calc(100% / 3);
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;
}
.loan_packages__list .list .list-item .list_item_header {
  display: flex;
}
.loan_packages__list .list .list-item .list_item_header .bank_name {
  display: flex;
  align-items: center;
}
.loan_packages__list .list .list-item .list_item_header > img {
  width: 80px;
  height: 64px;
  object-fit: cover;
  margin-right: 31px;
}
.loan_packages__list .list .list-item .divider {
  margin: 20px 0px;
}
.loan_packages__list .list .list-item .bank_loan_info {
  display: flex;
  justify-content: space-between;
}
.loan_packages__list .list .list-item .bank_loan_info .bank_interest,
.loan_packages__list .list .list-item .bank_loan_info .bank_term {
  flex: 1;
  text-align: center;
  width: calc(100% - 210px);
}
.loan_packages__list .list .list-item .bank_loan_info .bank_loan_info_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}
.loan_packages__list .list .list-item .bank_loan_info .bank_loan_info_value {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

/* other_tools__wapper */
.other_tools__wapper .tool_banner_list {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  column-gap: 80px;
}
.other_tools__wapper .tool_banner_list .tool_banner_item {
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;

  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 34px 24px;
}
.other_tools__wapper .tool_banner_list .tool_banner_item .img_border {
  border: 1.5px solid #828282;
  box-sizing: border-box;
  border-radius: 100%;
  width: 88px;
  padding: 10px;
  /* height: 78px; */
}
.other_tools__wapper .tool_banner_list .tool_banner_item .img_border > img {
  width: 78px;
  /* height: 78px; */
  object-fit: cover;
}
.other_tools__wapper
  .tool_banner_list
  .tool_banner_item
  .tool_banner_content
  .title {
  margin-top: 0px !important;
}
