* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body *::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body * {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ========== SCROLL BAR VERTICAL ONLY ========== */
body *::-webkit-scrollbar:vertical {
  display: block !important;
  width: 4px;
}
body *::-webkit-scrollbar-track:vertical {
  background: #f2f2f2;
}
body *::-webkit-scrollbar-thumb:vertical {
  background: #caa67b;
  border-radius: 10px;
}
/* Handle on hover */
/* body *::-webkit-scrollbar-thumb:hover {
} */
/* ========== END SCROLL BAR ========== */

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

/* ============================ */
/* ============ PRODUCT CARD ================ */
.product__wrapper {
  position: relative;
  scroll-snap-align: start;
}

.product-card {
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.product-image__wrapper {
  position: relative;
}

.product-image__wrapper .product-image {
  width: 100%;
  object-fit: contain;
  border-radius: 6px 6px 0px 0px;
}

.product-image__wrapper .bookmark-img__wrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;

  width: 28px;
  height: 28px;
}
.product-image__wrapper .bookmark-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card .product-info {
  padding: 10px;
}

.product-info > h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #a78863;
}

.product-info > p {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #0d0c22;

  /* Limit 2 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-info > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #3d3d4e;

  /* Limit 1 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product-divider {
  border-top: 0.5px solid #e0e0e0;
  display: flex;
  margin: 0px 10px;
}

.product-card .product-detail {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  overflow: hidden;
}

.product-card .product-detail .product-detail-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-card .product-detail .product-detail__image {
  width: 18px;
  height: 18px;
}

.product-card .product-detail .product-detail__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .product-detail .product-detail-item span {
  display: inline-block;
  white-space: nowrap;
  margin-left: 8px;
  margin-right: 28px;

  color: #000;
}

@media screen and (max-width: 800px) {
  .product__wrapper {
    width: 60.533333334vw;
  }

  .product-card {
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;
  }

  .product-image__wrapper .bookmark-img__wrapper {
    top: 3.2vw;
    right: 3.2vw;

    width: 7.466666667vw;
    height: 7.46666666667vw;
  }

  .product-image__wrapper .product-image {
    border-radius: 1.6vw 1.6vw 0vw 0vw;
  }

  .product-card .product-info {
    padding: 2.666666667vw;
  }

  .product-info > h3 {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
    margin: 1.066666667vmin 0vw;
  }

  .product-info > p {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    margin: 1.066666667vmin 0vw;
  }

  .product-info > span {
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
    margin: 0vw 0vw;
  }

  .product-divider {
    border-top: 0.133333334vmin solid #e0e0e0;
    display: flex;
    margin: 0vw 2.666666667vw;
  }

  .product-card .product-detail {
    padding: 5.333333334vw 2.666666667vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .product-card .product-detail .product-detail-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .product-card .product-detail .product-detail__image {
    width: 5.333333334vw;
    height: 5.333333334vw;
  }

  .product-card .product-detail .product-detail-item span {
    display: inline-block;
    margin-left: 2.133333334vw;
    margin-right: 9.6vw;
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 150%;
    letter-spacing: 0.133333334vw;
  }
}
/* ============ END PRODUCT CARD ================ */

/* Bread Crumb  */
.breadcrumb__wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* 
.breadcrumb__wrapper .breadcrumb {
  
} */
.breadcrumb__wrapper .breadcrumb,
.breadcrumb__wrapper .breadcrumb a {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #828282;
  text-decoration: none;
}

.breadcrumb__wrapper .breadcrumb span:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .breadcrumb__wrapper {
    padding: 2.4vw 3.733333334vw;
  }

  .breadcrumb__wrapper .breadcrumb,
  .breadcrumb__wrapper .breadcrumb a {
    font-weight: 400;
    font-size: 3.733333334vw;
  }
}

/* / MAX LINE / */
.max_line-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.max_line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.max_line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.max_line-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.max_line-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.max_line-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
