.news_coll__wrapper {
  width: 100%;
  height: auto;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 20px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
}

.news_coll__wrapper .news_coll {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.news_coll__wrapper .news_coll .news_title {
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #0d0c22;
  padding-bottom: 30px;
}

.news_coll__wrapper .news_coll .news_coll_banner {
  width: 100%;
  height: 245px;
  display: flex;
  flex-direction: row;
  background-color: #f6f3ef;
}

.news_coll__wrapper .news_coll .news_coll_banner img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.news_coll__wrapper .news_coll .news_coll_banner .news_coll_banner_content {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.news_coll__wrapper
  .news_coll
  .news_coll_banner
  .news_coll_banner_content
  .title {
  font-size: 22px;
  line-height: 30.8px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #333333;
  padding-top: 10px;
}

.news_coll__wrapper
  .news_coll
  .news_coll_banner
  .news_coll_banner_content
  .time {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #828282;
  padding-top: 6px;
}

.news_coll__wrapper
  .news_coll
  .news_coll_banner
  .news_coll_banner_content
  .desc {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  padding-top: 6px;
}

.news_coll__wrapper .news_coll .news_row_banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 260px;
  margin-top: 30px;
  gap: 5%;
  margin-bottom: 50px;
}

.news_coll__wrapper .news_coll .news_row_banner .news_row_banner_divider {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 30%;
  height: 100%;
}

.news_coll__wrapper
  .news_coll
  .news_row_banner
  .news_row_banner_divider
  .divider {
  width: 0%;
  height: 0px;
  background-color: #bdbdbd;
}

.news_coll__wrapper .news_coll .news_row_banner .news_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.news_coll__wrapper
  .news_coll
  .news_row_banner
  .news_row_banner_divider
  .news_card
  img {
  width: 100%;
  height: 165px;
  border-radius: 6px;
  border-style: solid;
  border-width: 0px;
  object-fit: cover;
}

.news_coll__wrapper
  .news_coll
  .news_row_banner
  .news_row_banner_divider
  .news_card
  .news_card_coll {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.news_coll__wrapper
  .news_coll
  .news_row_banner
  .news_row_banner_divider
  .news_card
  .news_card_coll
  .content {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #333333;
}

.news_coll__wrapper
  .news_coll
  .news_row_banner
  .news_row_banner_divider
  .news_card
  .news_card_coll
  .time {
  font-size: 0vw;
  font-weight: 400;
  line-height: 6vw;
  letter-spacing: 0.2px;
  color: #828282;
}

.news_coll__wrapper .news_coll .news_card_row_divider {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #bdbdbd;
  margin-bottom: 30px;
}

.news_coll__wrapper .news_coll .news_card_row_divider .news_card_row {
  width: 100%;
  height: 176px;
  display: flex;
  flex-direction: row;
}

.news_coll__wrapper .news_coll .news_card_row_divider .news_card_row img {
  width: 30%;
  height: 165px;
  object-fit: cover;
  border-radius: 6px;
  border-style: solid;
  border-width: 0px;
}

.news_coll__wrapper
  .news_coll
  .news_card_row_divider
  .news_card_row
  .news_card_row_coll {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.news_coll__wrapper
  .news_coll
  .news_card_row_divider
  .news_card_row
  .news_card_row_coll
  .title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #333333;
}

.news_coll__wrapper
  .news_coll
  .news_card_row_divider
  .news_card_row
  .news_card_row_coll
  .time {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: #828282;
}

.news_coll__wrapper
  .news_coll
  .news_card_row_divider
  .news_card_row
  .news_card_row_coll
  .desc {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #4f4f4f;
}

/* tin tức hot */
.news_coll__wrapper .news_coll_hot {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  /* background-color: blue; */
}

.news_coll__wrapper .news_coll_hot .news_coll_hot_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  letter-spacing: 0.2px;
  padding-bottom: 30px;
}

.news_coll__wrapper .news_coll_hot .news_hot_list_card {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.news_coll__wrapper .news_coll_hot .news_hot_list_card .news_hot_row_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 107px;
}

.news_coll__wrapper .news_coll_hot .news_hot_list_card .news_hot_row_card img {
  width: 40%;
  height: 100%;
  border-radius: 6px;
  border-width: 0px;
  border-style: solid;
}

.news_coll__wrapper
  .news_coll_hot
  .news_hot_list_card
  .news_hot_row_card
  .news_hot_coll_card {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
}

.news_coll__wrapper
  .news_coll_hot
  .news_hot_list_card
  .news_hot_row_card
  .news_hot_coll_card
  .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.2px;
  color: #333333;
}

.news_coll__wrapper
  .news_coll_hot
  .news_hot_list_card
  .news_hot_row_card
  .news_hot_coll_card
  .desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #828282;
  padding-top: 8px;
}
