@media screen and (max-width: 800px) {
    .news_coll__wrapper {
        width: 100%;
        height: auto;
        padding-left: 3.7vw;
        padding-right: 3.7vw;
        padding-top: 5.3vw;
        padding-bottom: 21vw;
        display: flex;
        flex-direction: column;
    }

    .news_coll__wrapper .news_coll {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: skyblue; */
    }

    .news_coll__wrapper .news_coll .news_title {
        font-size: 5.9vw;
        line-height: 8.8vw;
        letter-spacing: 0.1vw;
        font-weight: 500;
        color: #0D0C22;
        padding-bottom: 8vw;
    }

    .news_coll__wrapper .news_coll .news_coll_banner {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #F6F3EF;
        object-fit: cover;
        border-width: 0vw;
        border-radius: 2vw;
        border-style: solid;
        padding-bottom: 8vw;
    }

    .news_coll__wrapper .news_coll .news_coll_banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .news_coll__wrapper .news_coll .news_coll_banner .news_coll_banner_content {
        display: flex;
        flex-direction: column;
        padding-left: 6.4vw;
        padding-right: 6.4vw;
    }

    .news_coll__wrapper .news_coll .news_coll_banner .news_coll_banner_content .title {
        font-size: 4.8vw;
        line-height: 6.7vw;
        font-weight: 500;
        letter-spacing: 0.1vw;
        color: #333333;
        padding-top: 4.3vw;
    }

    .news_coll__wrapper .news_coll .news_coll_banner .news_coll_banner_content .time {
        font-size: 4vw;
        line-height: 6.8vw;
        font-weight: 300;
        letter-spacing: 0.1vw;
        color: #828282;
        padding-top: 1.6vw;
    }

    .news_coll__wrapper .news_coll .news_coll_banner .news_coll_banner_content .desc {
        font-size: 4vw;
        line-height: 6.8vw;
        font-weight: 300;
        letter-spacing: 0.1vw;
        color: #4F4F4F;
        padding-top: 1.6vw;
    }

    .news_coll__wrapper .news_coll .news_row_banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 6.4vw;
        gap: 8vw;
        margin-bottom: 6.4vw;
    }

    .news_coll__wrapper .news_coll .news_row_banner .news_row_banner_divider {
        display: flex;
        flex-direction: column;
        margin-bottom: 0vw;
        width: 100%;
        height: 100%;
    }

    .news_coll__wrapper .news_coll .news_row_banner .news_row_banner_divider .divider {
        width: 100%;
        height: 0.1vw;
        background-color: #BDBDBD;
        margin-bottom: 6.4vw
    }

    .news_coll__wrapper .news_coll .news_row_banner .news_row_banner_divider .news_card {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 23.2vw;
    }

    .news_coll__wrapper .news_coll .news_row_banner .news_row_banner_divider .news_card img {
        width: 34%;
        height: 100%;
        border-radius: 1.6vw;
        border-style: solid;
        border-width: 0vw;
        object-fit: cover;
    }

    .news_coll__wrapper .news_coll .news_row_banner .news_row_banner_divider .news_card .news_card_coll {
        display: flex;
        flex-direction: column;
        padding-left: 3.7vw;
    }

    .news_coll__wrapper .news_coll .news_row_banner .news_row_banner_divider .news_card .news_card_coll .content {
        font-size: 4vw;
        font-weight: 500;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        color: #333333;
    }

    .news_coll__wrapper .news_coll .news_row_banner .news_row_banner_divider .news_card .news_card_coll .time {
        font-size: 3.7vw;
        font-weight: 400;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        color: #828282;
    }

    .news_coll__wrapper .news_coll .news_card_row_divider {
        display: flex;
        flex-direction: column;
        margin-bottom: 0vw;
    }

    .news_coll__wrapper .news_coll .news_card_row_divider .divider {
        width: 100%;
        height: 0.1vw;
        background-color: #BDBDBD;
        margin-bottom: 6.4vw;
    }

    .news_coll__wrapper .news_coll .news_card_row_divider .news_card_row {
        width: 100%;
        height: 29vw;
        display: flex;
        flex-direction: row;
    }

    .news_coll__wrapper .news_coll .news_card_row_divider .news_card_row img {
        width: 38%;
        height: 80%;
        object-fit: cover;
        border-radius: 1.6vw;
        border-style: solid;
        border-width: 0vw;
    }

    .news_coll__wrapper .news_coll .news_card_row_divider .news_card_row .news_card_row_coll {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 3.7vw;
    }

    .news_coll__wrapper .news_coll .news_card_row_divider .news_card_row .news_card_row_coll .title {
        font-size: 4vw;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        font-weight: 500;
        color: #333333;
    }

    .news_coll__wrapper .news_coll .news_card_row_divider .news_card_row .news_card_row_coll .time {
        font-size: 3.7vw;
        line-height: 5.9vw;
        letter-spacing: 0.1vw;
        font-weight: 400;
        color: #828282;
    }

    .news_coll__wrapper .news_coll .news_card_row_divider .news_card_row .news_card_row_coll .desc {
        font-size: 0vw;
        line-height: 0vw;
        letter-spacing: 0.1vw;
        font-weight: 400;
        color: #4F4F4F;
    }

    /* tin tức hot */
    .news_coll__wrapper .news_coll_hot {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20vw;
        padding-left: 0;
    }

    .news_coll__wrapper .news_coll_hot .news_coll_hot_title {
        font-size: 6.4vw;
        font-weight: 500;
        line-height: 9vw;
        letter-spacing: 0.1vw;
        padding-bottom: 8vw;
    }

    .news_coll__wrapper .news_coll_hot .news_hot_list_card {
        display: flex;
        flex-direction: column;
        gap: 8vw;
    }

    .news_coll__wrapper .news_coll_hot .news_hot_list_card .news_hot_row_card {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 23.2vw;
    }

    .news_coll__wrapper .news_coll_hot .news_hot_list_card .news_hot_row_card img {
        width: 38%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.6vw;
        border-style: solid;
        border-width: 0vw;
    }

    .news_coll__wrapper .news_coll_hot .news_hot_list_card .news_hot_row_card .news_hot_coll_card {
        display: flex;
        flex-direction: column;
        padding-left: 4.5vw;
    }

    .news_coll__wrapper .news_coll_hot .news_hot_list_card .news_hot_row_card .news_hot_coll_card .title {
        font-size: 4vw;
        font-weight: 500;
        line-height: 6.7vw;
        letter-spacing: 0.1vw;
        color: #333333;
    }

    .news_coll__wrapper .news_coll_hot .news_hot_list_card .news_hot_row_card .news_hot_coll_card .desc {
        font-size: 3.7vw;
        font-weight: 400;
        line-height: 5.9vw;
        letter-spacing: 0.1vw;
        color: #828282;
        padding-top: 2.1vw;
    }
}