.close-container {
  display: none;
}

.register-page__wrapper {
  min-height: 100vh;
  height: 100%;
  background: #212121;
  display: flex;
}

.register-page-left__wrapper {
  flex-grow: 1;
  width: 45%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-register-box {
  width: 360px;
}

.main-register-box form {
  margin-top: 30px;
}

.main-register-box > h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #f9f9f9;
}
.main-register .custom-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  /* width: 360px;
  height: 40px; */
  background: #4f4f4f;
  border-radius: 6px;
  margin: 16px 0px;
}

.main-register .custom-input > input {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #f9f9f9;
  background-color: none;

  background: none;
  outline: none;
  border: none;
  width: 100%;
}

.main-register .custom-input > input::placeholder {
  color: #f9f9f9;
}

.main-register .custom-input > img {
  margin-left: 8px;
  cursor: pointer;
}

/* Change the white to any color */
.main-register .custom-input > input:-webkit-autofill,
.main-register .custom-input > input:-webkit-autofill:hover,
.main-register .custom-input > input:-webkit-autofill:focus,
.main-register .custom-input > input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #4f4f4f inset !important;
}

/*Change text in autofill textbox*/
.main-register .custom-input > input:-webkit-autofill {
  -webkit-text-fill-color: #f9f9f9 !important;
}

.main-register-box form .forgot-password {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
  color: #a78863;
  margin: 12px 0px;
}

.main-register-box form .register-btn {
  background: #a78863;
  border-radius: 6px;
  padding: 7px 32px 9px;
  margin: 24px 0px;

  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
  cursor: pointer;
}

.main-register-box form span {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f9f9f9;
}

.oauth-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 24px 0px;
}

.oauth-btn {
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  width: 50%;
  padding: 10px 0px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.oauth-btn > img {
  margin-right: 10px;
}

.oauth-btn > p {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.register-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f9f9f9;
  margin-bottom: 16px;
}

.register-link > a {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #a78863;
  margin-left: 12px;
}

/* ---------------------- */
.register-page-right__wrapper {
  flex-grow: 1;
  width: 55%;
}

.register-page-right__wrapper .background-image {
  height: 100%;
}

.register-page-right__wrapper .background-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
