/* banner */
.baner_wrapper {
  width: 100%;
  height: 533px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  height: 100%;
  width: 60%;
  display: flex;
  padding-left: 140px;
  align-items: center;
  justify-content: center;
}

.main-content-title {
  position: relative;
  width: 100%;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content-coll {
  width: 100%;
}

.main-content-title .main-content-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.main-content-title .main-content-desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 30.8px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 48px;
  width: 90%;
}

/* introduce */
.introduce_row {
  background-color: white;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  width: 100%;
  height: 603px;
}

.introduce_row .introduce_content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: #828282; */
}

.introduce_row .introduce_content .introduce_title {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #333333;
}

.introduce_row .introduce_content .introduce_desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  letter-spacing: 0.2px;
  text-align: justify;
  margin-top: 40px;
}

.introduce_row .introduce_image {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-left: 80px;
  /* background-color: aqua; */
}

.introduce_image img {
  object-fit: cover;
  border-radius: 6px;
  width: 100%;
}

.introduce_row .introduce_image .introduce_list_image1 {
  width: 100%;
  height: 240px;
}

.introduce_row .introduce_image .introduce_list_image2 {
  width: 100%;
  height: 240px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.introduce_row .introduce_image .introduce_list_image3 {
  width: 100%;
  height: 179px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.introduce_row .introduce_image .introduce_list_image4 {
  width: 100%;
  height: 179px;
  left: 30%;
}

/* Cung cấp dịch vụ */
.service_provide_row {
  background-color: #f2f2f2;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 635px;
  /* background-color: aqua; */
}

.service_provide_row .service_provide_image {
  width: 40%;
  height: 460px;
  background-color: #a78863;
}

.service_provide_row .service_provide_image img {
  object-fit: cover;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.service_provide_row .service_provide_content {
  width: 60%;
  height: 475px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  left: 100px;
}

.service_provide_row .service_provide_content .service_provide_title {
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: black;
}

.service_provide_row .service_provide_content .service_provide_content_row {
  display: flex;
  flex-direction: row;
}

.service_provide_row .service_provide_content .service_provide_content_row {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.service_provide_row
  .service_provide_content
  .service_provide_content_row
  .service_provide_ic {
  width: 44px;
  height: 44px;
}

.service_provide_row
  .service_provide_content
  .service_provide_content_row
  .service_provide_text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.service_provide_row
  .service_provide_content
  .service_provide_content_row
  .service_provide_text
  .service_provide_text_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 30.8px;
  letter-spacing: 0.2px;
  color: #333333;
}

.service_provide_row
  .service_provide_content
  .service_provide_content_row
  .service_provide_text
  .service_provide_text_desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

/* help wrapper */
.help_coll {
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 560px;
  /* background-color: aquamarine; */
}

.help_coll .help_title {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: black;
}

.help_coll .help_card_list {
  display: flex;
  flex-direction: row;
  margin-top: 58px;
  gap: 5%;
}

.help_coll .help_card_list .help_card {
  width: 30%;
  height: 300px;
  border-radius: 6px;
  border-width: 1px;
  border-color: #bdbdbd;
  border-style: solid;
  padding-top: 58px;
  padding-left: 24px;
}

.help_coll .help_card_list .help_card .help_card_coll {
  display: flex;
  flex-direction: column;
}

.help_coll .help_card_list .help_card .help_card_coll img {
  width: 52px;
  height: 46px;
}

.help_coll .help_card_list .help_card .help_card_coll .help_card_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  letter-spacing: 0.2px;
  color: #333333;
  margin-top: 32px;
}

.help_coll .help_card_list .help_card .help_card_coll .help_card_desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  margin-top: 32px;
}

/* support */
.support_wrapper {
  width: 100%;
  height: 470px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/images/support.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.support_banner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
  /* justify-content: center; */
}

.support_banner .support_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 568px;
  height: 310px;
  /* background-color: aqua; */
}

.support_banner .support_content .support_content_title {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.support_banner .support_content .support_content_desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 30px;
}

.support_banner .support_box {
  width: 33%;
  height: 66%;
  border-radius: 6px;
  border-width: 1px;
  border-color: #f2f2f2;
  border-style: solid;
  background-color: #f2f2f2;
  padding-left: 54px;
  padding-right: 55px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.support_banner .support_box .custom-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px 11px;
  /* width: 360px;
    height: 40px; */
  background: #e0e0e0;
  border-radius: 6px;
  margin: 16px 0px;
}

.support_banner .support_box .custom-input > input {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #828282;
  background-color: none;

  background: none;
  outline: none;
  border: none;
  width: 100%;
}

.support_banner .support_box .login-btn {
  background: #a78863;
  border-radius: 6px;
  padding: 7px 32px 9px;
  margin: 24px 0px;

  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
  cursor: pointer;
}

/* news */
.news_content {
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 648px;
  /* margin-bottom: 80px; */
  background-color: #f2f2f2;
}

.news_content .news_content_title {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: black;
}

.news_content .news_list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 5%;
}

.news_content .news_list .news_card {
  width: 30%;
  height: 396px;
  display: flex;
  flex-direction: column;
}

.news_content .news_list .news_card img {
  width: 100%;
  height: 256px;
  object-fit: cover;
  border-radius: 10px;
}

.news_content .news_list .news_card .news_card_text {
  display: flex;
  flex-direction: column;
}

.news_content .news_list .news_card .news_card_text .news_card_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #333333;
  margin-top: 24px;
}

.news_content .news_list .news_card .news_card_text .news_card_desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  margin-top: 16px;
}

.news_content .news_list .news_card .news_card_text .time {
  font-size: 0;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  margin-top: 0;
}
