@media screen and (max-width: 800px) {

    /* banner */
    .baner_wrapper {
        width: 100%;
        height: 142vw;
        background:
            url("./assets/images/banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: unset;
        width: 100%;
        padding-left: 4vw;
    }

    .main-content-title {
        position: relative;
    }

    .main-content-coll {
    }

    .main-content-title .main-content-text {
        font-size: 5.9vw;
        font-weight: 500;
        line-height: 6.8vw;
        letter-spacing: 0.1vw;
        color: #FFFFFF;
    }

    .main-content-title .main-content-desc {
        font-size: 3.9vw;
        font-weight: 300;
        line-height: 6.2vw;
        letter-spacing: 0.1vw;
        color: #FFFFFF;
    }

    /* introduce */
    .introduce_row {
        background-color: white;
        padding-top: 8vw;
        padding-bottom: 0vw;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        align-content: unset;
        align-items: flex-start;
        width: 100%;
        height: 180vw;
        padding-right: 4vw;
    }

    .introduce_row .introduce_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0vw;
        padding-bottom: 0vw;
    }

    .introduce_row .introduce_content .introduce_title {
        font-size: 5.0vw;
        font-weight: 500;
        line-height: 11vw;
        letter-spacing: 0.1vw;
        color: #333333;
        width: 100%;
    }

    .introduce_row .introduce_content .introduce_desc {
        font-size: 4vw;
        font-weight: 300;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        text-align: justify;
        margin-top: 10vw;
    }

    .introduce_row .introduce_image {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6.4vw;
        margin-left: 0vw;
        margin-top: 4vw;
        /* background-color: aqua; */
    }

    .introduce_image img {
        object-fit: cover;
        border-radius: 1.6vw;
        width: 100%;
    }

    .introduce_row .introduce_image .introduce_list_image1 {
        width: 100%;
        height: 39vw;
    }

    .introduce_row .introduce_image .introduce_list_image2 {
        width: 100%;
        height: 39vw;
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .introduce_row .introduce_image .introduce_list_image3 {
        width: 100%;
        height: 29vw;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .introduce_row .introduce_image .introduce_list_image4 {
        width: 100%;
        height: 29vw;
        left: 30%;
    }

    /* Cung cấp dịch vụ */
    .service_provide_row {
        background-color: #F2F2F2;
        padding-top: 24vw;
        padding-bottom: 15vw;
        padding-right: 4vw;
        padding-left: 4vw;
        margin-top: 13vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: unset;
        width: 100%;
        height: 266vw;
        /* background-color: aqua; */
    }

    .service_provide_row .service_provide_image {
        width: 100%;
        height: 85vw;
        object-fit: cover;
        margin-top: 20vw;
    }

    .service_provide_row .service_provide_image img {
        object-fit: cover;
        border-radius: 1.6vw;
        width: 100%;
        height: 85vw;
    }

    .service_provide_row .service_provide_content {
        width: 100%;
        height: 127vw;
        margin-left: 0vw;
        display: flex;
        flex-direction: column;
    }

    .service_provide_row .service_provide_content .service_provide_title {
        font-size: 5.9vw;
        line-height: 8.8vw;
        font-weight: 500;
        letter-spacing: 0.1vw;
        color: black;
    }

    .service_provide_row .service_provide_content .service_provide_content_row {
        display: flex;
        flex-direction: row;
    }

    .service_provide_row .service_provide_content .service_provide_content_row {
        display: flex;
        flex-direction: row;
        margin-top: 13vw;
    }

    .service_provide_row .service_provide_content .service_provide_content_row .service_provide_ic {
        width: 7.5vw;
        height: 7.5vw;
    }

    .service_provide_row .service_provide_content .service_provide_content_row .service_provide_text {
        display: flex;
        flex-direction: column;
        margin-left: 5.3vw;
    }

    .service_provide_row .service_provide_content .service_provide_content_row .service_provide_text .service_provide_text_title {
        font-size: 4.8vw;
        font-weight: 500;
        line-height: 6.7vw;
        letter-spacing: 0.1vw;
        color: #333333;
    }

    .service_provide_row .service_provide_content .service_provide_content_row .service_provide_text .service_provide_text_desc {
        font-size: 4vw;
        font-weight: 300;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        color: #4F4F4F;
    }

    /* help wrapper */
    .help_coll {
        padding-top: 13vw;
        padding-bottom: 24vw;
        padding-left: 4vw;
        padding-right: 4vw;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 279vw;
        /* background-color: aquamarine; */
    }

    .help_coll .help_title {
        font-size: 5.9vw;
        font-weight: 500;
        line-height: 8.8vw;
        letter-spacing: 0.1vw;
        color: black;
        padding-bottom: 8vw;
    }

    .help_coll .help_card_list {
        display: flex;
        flex-direction: column;
        margin-top: 0vw;
        gap: 5%;
    }

    .help_coll .help_card_list .help_card {
        width: 100%;
        height: 73vw;
        border-radius: 1.6vw;
        border-width: 0.1vw;
        border-color: #BDBDBD;
        border-style: solid;
        padding-top: 13vw;
        padding-left: 6.4vw;
        margin-bottom: 8vw;
    }

    .help_coll .help_card_list .help_card .help_card_coll {
        display: flex;
        flex-direction: column;
    }

    .help_coll .help_card_list .help_card .help_card_coll img {
        width: 14vw;
        height: 12vw;
    }

    .help_coll .help_card_list .help_card .help_card_coll .help_card_title {
        font-size: 4.8vw;
        font-weight: 500;
        line-height: 33.1.6vw;
        letter-spacing: 0.1vw;
        color: #333333;
        margin-top: 5.3vw;
    }

    .help_coll .help_card_list .help_card .help_card_coll .help_card_desc {
        font-size: 4.3vw;
        font-weight: 300;
        line-height: 25.1.6vw;
        letter-spacing: 0.1vw;
        color: #4F4F4F;
        margin-top: 8vw;
    }

    /* support */
    .support_wrapper {
        width: 100%;
        height: 132vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url("./assets/images/support.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .support_banner {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 13vw;
        /* justify-content: center; */
    }

    .support_banner .support_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 83vw;
        /* background-color: aqua; */
    }

    .support_banner .support_content .support_content_title {
        font-size: 5.9vw;
        font-weight: 500;
        line-height: 8.8vw;
        letter-spacing: 0.1vw;
        color: #FFFFFF;
    }

    .support_banner .support_content .support_content_desc {
        font-size: 4vw;
        font-weight: 500;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        color: #FFFFFF;
        margin-top: 8vw;
    }

    .support_banner .support_box {
        width: 100%;
        height: 67vw;
        border-radius: 1.6vw;
        border-width: 0.1vw;
        border-color: #F2F2F2;
        border-style: solid;
        background-color: #F2F2F2;
        padding-left: 15vw;
        padding-right: 15vw;
        padding-top: 7vw;
        padding-bottom: 7vw;
    }

    .support_banner .support_box .custom-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.7vw 3.2vw 2.9vw;
        background: #E0E0E0;
        border-radius: 1.6vw;
        margin: 4.3vw 0vw;
    }

    .support_banner .support_box .custom-input>input {
        font-weight: 300;
        font-size: 4.3vw;
        line-height: 6.4vw;
        letter-spacing: 0.1vw;
        color: #828282;
        background-color: none;

        background: none;
        outline: none;
        border: none;
        width: 100%;
    }

    .support_banner .support_box .login-btn {
        background: #a78863;
        border-radius: 1.6vw;
        padding: 0vw 0vw 0vw;
        margin: 0vw 0vw;
        font-weight: 600;
        font-size: 4.3vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        line-height: 6.4vw;
        letter-spacing: 0.1vw;
        color: #ffffff;
        cursor: pointer;
        height: 12vw;
    }

    /* news */
    .news_content {
        padding-top: 13vw;
        padding-bottom: 20vw;
        padding-left: 4vw;
        padding-right: 4vw;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 173vw;
        background-color: #F2F2F2;
    }

    .news_content .news_content_title {
        font-size: 5.9vw;
        font-weight: 500;
        line-height: 11vw;
        letter-spacing: 0.1vw;
        color: black;
    }

    .news_content .news_list {
        display: flex;
        flex-direction: column;
        margin-top: 13vw;
        gap: 5%;
    }

    .news_content .news_list .news_card {
        width: 100%;
        height: 28vw;
        display: flex;
        flex-direction: row;
    }

    .news_content .news_list .news_card .news_card_text {
        display: flex;
        flex-direction: column;
        margin-left: 2.7vw;
    }

    .news_content .news_list .news_card img {
        width: 34vw;
        height: 28vw;
        object-fit: cover;
        border-radius: 2.7vw;
    }

    .news_content .news_list .news_card .news_card_text .news_card_title {
        font-size: 4vw;
        font-weight: 500;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        color: #333333;
        margin-top: 0vw;
    }

    .news_content .news_list .news_card .news_card_text .news_card_desc {
        font-size: 0vw;
        font-weight: 400;
        line-height: 5vw;
        letter-spacing: 0.1vw;
        color: #4F4F4F;
        margin-top: 0vw;
    }

    .news_content .news_list .news_card .news_card_text .time {
        font-size: 3.7vw;
        font-weight: 400;
        line-height: 5vw;
        letter-spacing: 0.1vw;
        color: #4F4F4F;
    }
}