.product-detail-wrapper {
}

.product-main-content {
}

/* --------- Carousel ---------- */
.product-carousel {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.product-carousel-item {
  scroll-snap-align: center;
}

.product-carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.product-carousel-arrow-left {
  left: 0;
}

.product-carousel-arrow-right {
  right: 0;
}
/* ---------- END CAROUSEL ---------- */

/* ------ MAIN CONTENT | INFORMATION ------- */
.product-main-info__wrapper {
  background: #f6f3ef;
}

.breadcrumb__wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

.breadcrumb__wrapper .breadcrumb {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #828282;
}

.breadcrumb__wrapper .breadcrumb span:hover {
  cursor: pointer;
}

.product-main-info {
  display: flex;
  align-items: flex-start;

  padding-bottom: 25px;
}

.product-main-info-left {
  margin-right: 32px;
}

.product-main-info-left .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #0d0c22;
}

.product-main-info-left .address {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #0d0c22;
}

.product-main-info-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.product-main-info-action .btn {
  height: 100%;
  background: #a78863;
  border-radius: 6px;
  padding: 7px 16px 9px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-main-info-action .btn span {
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin: 0px 10px;
}

.product-main-info-action .btn img {
  margin: 0px 10px;
}

.product-main-info-action .hire-btn {
  background: #f6f3ef;
  border: 1px solid #a78863;
  height: 48px;
}

.product-main-info-action .hire-btn span {
  color: #a78863;
}

/* ------- EXTENSIVE INFORMATION ---------- */
.product-extensive-info__wrapper {
  display: flex;
  align-items: flex-start;

  gap: 70px;
  padding-top: 30px;
}

/* -------- MAIN EXTENSIVE INFORMATION | LEFT ----------- */
.product-extensive-info {
  flex: 1;
}

.product-extensive-info hr {
  border-top: 0.5px solid #bdbdbd;

  margin: 38px 0;
}

.main-extensive-info {
}

.main-extensive-info .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-extensive-info .top h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #a78863;
}
.main-extensive-info .top .bookmark {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-extensive-info .top .bookmark img {
}
.main-extensive-info .top .bookmark p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #0d0c22;
  margin-left: 12px;
}

.main-extensive-info .middle {
  display: flex;
  align-items: center;

  gap: 40px;
  margin: 20px 0px;
}
.main-extensive-info .middle .middle-item {
  display: flex;
  align-items: center;
}
.main-extensive-info .middle .middle-item img {
}
.main-extensive-info .middle .middle-item p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #0d0c22;
  margin-left: 16px;
}

.main-extensive-info .bottom {
  display: flex;
  align-items: center;

  background: #f6f3ef;
  border-radius: 4px;
  padding: 9px 16px;
}
.main-extensive-info .bottom img {
}
.main-extensive-info .bottom p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
  margin-left: 12px;
}

/* -------------- Thong tin mo ta ---------- */
.description-info__wrapper {
}

.description-info__wrapper .title {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #0d0c22;
}

.description-info__wrapper .description-cluster {
}

.description-info__wrapper .description-cluster p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #3d3d4e;
  margin: 20px 0px;
}
/* -------------- END Thong tin mo ta ---------- */

/* --------------- SELLER | THONG TIN NGUOI BAN MOBILE */
.product-seller-mobile__wrapper {
  display: none;
}
/* --------------- END SELLER | THONG TIN NGUOI BAN MOBILE */

/* -------------- THONG TIN CHI TIET ---------- */
.detail-info__wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.detail-info__wrapper .title {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #0d0c22;
}

.detail-info__wrapper .detail-info-table {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 25px;
}
.detail-info__wrapper .detail-info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: calc(50% - 12px);

  padding: 6px 0;
  border-bottom: 0.5px solid #bdbdbd;
}
.detail-info__wrapper .detail-info-key {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #3d3d4e;
}
.detail-info__wrapper .detail-info-value {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  text-align: right;
  letter-spacing: 0.3px;
  color: #3d3d4e;
}

/* -------------- END THONG TIN CHI TIET ---------- */

/* -------------- TIEN ICH KHU VUC ---------- */
.region-info__wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.region-info__wrapper .title {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #0d0c22;
}

.region-info__wrapper .region-map {
  border-radius: 6px;
  margin-top: 20px;
}
.region-info__wrapper .region-map iframe {
  width: 100%;
  border-radius: 6px;
}

.region-tabs__wrapper {
  margin: 30px 0px;
}

.region-tabs__wrapper .tabs {
  display: flex;
  align-items: center;
  overflow: hidden;

  gap: 60px;
  border-bottom: 0.5px solid #bdbdbd;
}

.region-tabs__wrapper .tabs .tab {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #3d3d4e;

  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.region-tabs__wrapper .tabs .tab.active.tab::after,
.region-tabs__wrapper .tabs .tab:hover.tab::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: -9px;
  width: calc(100% + 18px);
  height: 3px;
  background-color: #828282;
  border-radius: 10px;
}

.region-tabs__wrapper .tabs .tab::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: -9px;
  width: 0;
  height: 3px;
  background-color: #828282;
  border-radius: 10px;
  transition: all 0.3s;
}

.region-tabs__wrapper .tabs .tab.active.tab::after,
.region-tabs__wrapper .tabs .tab:hover.tab::after {
  width: calc(100% + 18px);
}

.region-info__wrapper .tab-panel {
  height: 292px;
  max-height: 292px;

  padding: 10px 0px;
  overflow-y: scroll;
}

.region-info__wrapper .tab-panel::-webkit-scrollbar {
  display: block !important;
  width: 4px;
}
.region-info__wrapper .tab-panel::-webkit-scrollbar-track {
  background: #f2f2f2;
}
.region-info__wrapper .tab-panel::-webkit-scrollbar-thumb {
  background: #caa67b;
  border-radius: 10px;
}
/* Handle on hover */
.region-info__wrapper .tab-panel::-webkit-scrollbar-thumb:hover {
}

.region-info__wrapper .tab-panel .tab-panel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 26px;
  padding: 9px 30px 9px 0;
}

.tab-panel-item .info {
}

.tab-panel-item .info .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  margin: 4px 0px;
}
.tab-panel-item .info .address {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #828282;
}
.tab-panel-item .distance {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  white-space: nowrap;
}

/* -------------- END TIEN ICH KHU VUC ---------- */

/* -------- END MAIN EXTENSIVE INFORMATION | LEFT  ----------- */

/* ------- SELLER WRAPPER | RIGHT ---------- */
.product-seller__wrapper {
}
.product-seller__wrapper .product-seller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 323px;

  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 40px;
}
.product-seller__wrapper .product-seller .avatar {
}
.product-seller__wrapper .product-seller .avatar img {
  border-radius: 50%;
}
.product-seller__wrapper .product-seller-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-seller__wrapper .product-seller-info a.seller-contact {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #3d3d4e;
  margin-top: 20px;
  cursor: pointer;
}
.product-seller__wrapper .product-seller-info p.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #3d3d4e;
  margin: 12px 0px;
}
.product-seller__wrapper .product-seller-info .contact {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 6px 0px;
}
.product-seller__wrapper .product-seller-info .contact img {
}
.product-seller__wrapper .product-seller-info .contact p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #3d3d4e;
  margin-left: 10px;
}
/* ------- END SELLER WRAPPER ---------- */

/* ------- END EXTENSIVE INFORMATION ---------- */

/*  ------------- TIN DANG LAN CAN ------------ */
.nearby-post__wrapper {
  margin-bottom: 80px;
}
.nearby-post__wrapper h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #0d0c22;
}

.nearby-post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  scroll-snap-type: x mandatory;

  margin: 30px 0px;
}
/*  ------------- END TIN DANG LAN CAN ------------ */
