@media screen and (max-width: 375px) {
  .product-detail-wrapper {
  }

  .product-main-content {
  }

  /* --------- Carousel ---------- */
  .product-carousel {
    column-gap: 0vw;
    overflow: hidden;
    grid-template-columns: 1fr;
  }

  .product-carousel-item {
    width: 100vw;
    height: 62.933333334vw;
  }

  .product-carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-carousel-arrow {
    width: 16vw;
    height: 16vw;
  }
  /* ---------- END CAROUSEL ---------- */

  /* ------ MAIN CONTENT | INFORMATION ------- */

  .breadcrumb__wrapper {
    padding: 4.266666667vw 3.733333334vw;
  }

  .breadcrumb__wrapper .breadcrumb {
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
    color: #828282;
  }

  .breadcrumb__wrapper .breadcrumb span:hover {
    cursor: pointer;
  }

  .product-main-info {
    flex-direction: column;
    padding: 0vw 3.733333334vw 10.666666667vw 3.733333334vw;
  }

  .product-main-info-left {
    margin-right: 0vw;
  }

  .product-main-info-left .title {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .product-main-info-left .address {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    margin: 2.666666667vw 0vw;
  }

  .product-main-info-action {
    gap: 2.666666667vw;
    justify-content: flex-start;
  }

  .product-main-info-action .btn {
    border-radius: 1.6vw;
    padding: 1.6vw 3.2vw;
  }

  .product-main-info-action .btn span {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    margin-left: 0vw;
    margin-right: 2.133333334vw;
  }

  .product-main-info-action .btn img {
    margin: 0vw 2.133333334vw;
    width: 7.466666667vw;
    height: 7.466666667vw;
  }

  .product-main-info-action .hire-btn {
    height: 10.666666667vw;
  }

  /* ------- EXTENSIVE INFORMATION ---------- */
  .product-extensive-info__wrapper {
    gap: 0vw;
    padding: 8vw 3.733333334vw 0vw 3.733333334vw;

    display: block;
  }

  /* -------- MAIN EXTENSIVE INFORMATION | LEFT ----------- */
  .product-extensive-info {
    flex: 1;
  }

  .product-extensive-info hr {
    margin: 8vw 0vw;
  }

  .main-extensive-info {
  }

  .main-extensive-info .top h2 {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .main-extensive-info .top .bookmark img {
    width: 6.4vw;
    height: 6.4vw;
  }
  .main-extensive-info .top .bookmark p {
    display: none;
  }

  .main-extensive-info .middle {
    gap: 4.266666667vw;
    margin: 5.333333334vw 0vw;
  }

  .main-extensive-info .middle .middle-item img {
    width: 6.4vw;
    height: 6.4vw;
  }
  .main-extensive-info .middle .middle-item p {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    margin-left: 2.666666667vw;
  }

  .main-extensive-info .bottom {
    border-radius: 1.6vw;
    padding: 1.866666667vw 2.666666667vw;
  }
  .main-extensive-info .bottom img {
    width: 5.866666667vw;
    height: 5.866666667vw;
  }
  .main-extensive-info .bottom p {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    margin-left: 3.2vw;
  }

  /* -------------- Thong tin mo ta ---------- */
  .description-info__wrapper {
  }

  .description-info__wrapper .title {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .description-info__wrapper .description-cluster {
  }

  .description-info__wrapper .description-cluster p {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    margin: 5.333333334vw 0vw;
  }
  /* -------------- END Thong tin mo ta ---------- */

  /* --------------- SELLER | THONG TIN NGUOI BAN MOBILE */
  .product-seller-mobile__wrapper {
    display: block;
    margin: 8vw 0vw;
  }
  .product-seller-mobile__wrapper .product-seller {
    max-width: unset;

    display: flex;
    align-items: center;

    background: #ffffff;
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;
    padding: 5.333333334vw 2.666666667vw;
  }
  .product-seller-mobile__wrapper .product-seller .avatar {
    width: 17.066666667vw;
    height: 17.066666667vw;
    margin-right: 3.733333334vw;
  }
  .product-seller-mobile__wrapper .product-seller .avatar img {
    border-radius: 50%;
  }
  .product-seller-mobile__wrapper .product-seller-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-seller-mobile__wrapper .product-seller-info a.seller-contact {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #3d3d4e;
  }
  .product-seller-mobile__wrapper .product-seller-info p.name {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
    color: #3d3d4e;
    margin: 2.133333334vw 0vw;
  }
  .product-seller-mobile__wrapper .product-seller-info .contact {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 1.066666667vw 0vw;
  }
  .product-seller-mobile__wrapper .product-seller-info .contact img {
    width: 5.333333334vw;
    height: 5.333333334vw;
  }
  .product-seller-mobile__wrapper .product-seller-info .contact p {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #3d3d4e;
    margin-left: 2.666666667vw;
    word-break: break-all;
  }
  /* --------------- END SELLER | THONG TIN NGUOI BAN MOBILE */

  /* -------------- THONG TIN CHI TIET ---------- */
  .detail-info__wrapper {
    margin-top: 10.666666667vw;
    margin-bottom: 10.666666667vw;
  }

  .detail-info__wrapper .title {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .detail-info__wrapper .detail-info-table {
    gap: 0vw;
    margin-top: 5.333333334vw;
  }
  .detail-info__wrapper .detail-info-item {
    flex-basis: 100%;
    padding: 1.6vw 0;
  }
  .detail-info__wrapper .detail-info-key {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .detail-info__wrapper .detail-info-value {
    font-weight: 600;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  /* -------------- END THONG TIN CHI TIET ---------- */

  /* -------------- TIEN ICH KHU VUC ---------- */
  .region-info__wrapper {
    margin-top: 10.666666667vw;
    margin-bottom: 10.666666667vw;
  }

  .region-info__wrapper .title {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .region-info__wrapper .region-map {
    border-radius: 1.6vw;
    margin-top: 5.333333334vw;
  }
  .region-info__wrapper .region-map iframe {
    width: 100%;
    border-radius: 1.6vw;
    height: 64vw;
  }

  .region-tabs__wrapper {
    margin: 8vw 0vw;
  }

  .region-tabs__wrapper .tabs {
    gap: 16vw;
  }

  .region-tabs__wrapper .tabs .tab {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    padding-top: 3.466666667vw;
    padding-bottom: 3.466666667vw;
  }

  .region-tabs__wrapper .tabs .tab.active.tab::after,
  .region-tabs__wrapper .tabs .tab:hover.tab::after {
    left: -2.4vw;
    width: calc(100% + 4.8vw);
    height: 0.8vw;
    border-radius: 2.666666667vw;
  }

  .region-tabs__wrapper .tabs .tab::after {
    left: -2.4vw;
    width: 0vw;
    height: 0.8vw;
    border-radius: 2.666666667vw;
  }

  .region-tabs__wrapper .tabs .tab.active.tab::after,
  .region-tabs__wrapper .tabs .tab:hover.tab::after {
    width: calc(100% + 4.8vw);
  }

  .region-info__wrapper .tab-panel {
    height: 77.866666667vmin;
    max-height: 77.866666667vmin;

    padding: 2.666666667vw 0vw;
    overflow-y: scroll;
  }

  .region-info__wrapper .tab-panel::-webkit-scrollbar {
    display: block !important;
    width: 1.066666667vw;
  }
  .region-info__wrapper .tab-panel::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  .region-info__wrapper .tab-panel::-webkit-scrollbar-thumb {
    background: #caa67b;
    border-radius: 2.666666667vw;
  }
  /* Handle on hover */
  .region-info__wrapper .tab-panel::-webkit-scrollbar-thumb:hover {
  }

  .region-info__wrapper .tab-panel .tab-panel-item {
    padding: 2.666666667vw 2.666666667vw 2.666666667vw 0;
    gap: 6.933333334vw;
  }

  .tab-panel-item .info {
  }

  .tab-panel-item .info .title {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    margin: 1.066666667vw 0vw;
  }
  .tab-panel-item .info .address {
    font-weight: 300;
    font-size: 3.733333334vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
  }
  .tab-panel-item .distance {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  /* -------------- END TIEN ICH KHU VUC ---------- */

  /* -------- END MAIN EXTENSIVE INFORMATION | LEFT  ----------- */

  /* ------- SELLER WRAPPER | RIGHT ---------- */
  .product-seller__wrapper {
    /* Test */
    display: none;
  }

  /* ------- END SELLER WRAPPER ---------- */

  /* ------- END EXTENSIVE INFORMATION ---------- */

  /*  ------------- TIN DANG LAN CAN ------------ */
  .nearby-post__wrapper {
    margin-bottom: 21.333333334vw;
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }
  .nearby-post__wrapper h2 {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .nearby-post-list {
    overflow-x: auto;
    grid-auto-flow: column;
    column-gap: 3.733333334vw;
    margin: 8vw 0vw;
  }
  /*  ------------- END TIN DANG LAN CAN ------------ */
}
