.account-page__wrapper {
}

.account__wrapper {
  display: flex;
  align-items: flex-start;

  gap: 60px;
  margin-top: 30px;
}

/* ========= Left side | Avatar + vertical-Tabs =========== */
.account-left__wrapper {
}
.account-vertical-tabs-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 520px;
  padding: 30px;

  background: #ffffff;
  /* Gray 4 */
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;
}
.account-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account-avatar .avatar {
  width: 100px;
  height: 100px;
}
.account-avatar .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.account-avatar .full-name {
  display: none;
}
.account-avatar .change-avatar {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #a78863;
  margin-top: 16px;
  cursor: pointer;
}

.account-vertical-tabs {
  margin-top: 30px;
  width: 100%;
}

.account-vertical-tabs .tab {
  height: 40px;
  border-radius: 4px 1px 1px 4px;

  display: flex;
  align-items: center;

  cursor: pointer;
  padding-left: 14px;
  margin: 6px 0px;
}

.account-vertical-tabs .tab p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.account-vertical-tabs .tab .arrow-right {
  display: none;
}

.account-vertical-tabs .tab.active,
.account-vertical-tabs .tab:hover {
  background: #f6f3ef;
  border-left: 4px solid #caa67b;
}
.account-vertical-tabs .tab.active p,
.account-vertical-tabs .tab:hover p {
  font-weight: 500;
  color: #333333;
}
.account-vertical-tabs .logout-divider {
  display: none;
}
/* ========= END Left side | Avatar + vertical-Tabs =========== */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* =========  Right side | Tab Panel | User Information | Thông Tin Cá Nhân =========== */
.account-right__wrapper {
  flex: 1;
}

.checkbox-tab-panel {
  display: none;
}

/* .personal-information-field */
.tab-panel-field {
  width: 100%;
  display: none;
}

/* DISPLAY TAB PANEL  */
#account-page-personal-information-field:checked
  ~ .account-right__wrapper
  .personal-information-field {
  display: block;
}
#account-page-change-password-field:checked
  ~ .account-right__wrapper
  .change-password-field {
  display: block;
}
#account-page-saved-property-field:checked
  ~ .account-right__wrapper
  .saved-property-field {
  display: block;
}
#account-page-post-management-field:checked
  ~ .account-right__wrapper
  .post-management-field {
  display: block;
}
/* -------------------------------------------------------- */

.tab-panel-field .header {
}

.tab-panel-field .back {
  display: none;
}
.tab-panel-field .blank {
}
.tab-panel-field .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}
/* .personal-information-field .personal-information-form */
.personal-information-form .change-avatar-mobile__wrapper {
  display: none;
}

.tab-panel-field form {
  margin-top: 24px;
}

.tab-panel-field .text-field {
  /* min-width: 492px; */
  width: 492px;

  padding-bottom: 20px;
}
.tab-panel-field .text-field .label {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  margin-bottom: 12px;
}
.tab-panel-field .text-field .input__wrapper {
  position: relative;
}
.tab-panel-field .text-field .input__wrapper input {
  position: relative;
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 7px 12px 7px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #4f4f4f;
}

.tab-panel-field .text-field .input__wrapper input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #4f4f4f;
}
.tab-panel-field .text-field .input__wrapper input:focus-visible {
  outline: none;
}
.tab-panel-field .text-field .input__wrapper input.password {
  padding-right: 40px;
}
.tab-panel-field .text-field .input__wrapper img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
}

.tab-panel-field .btn {
  padding: 7px 32px 9px;
}
.tab-panel-field .save-btn {
  background: #a78863;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;

  width: 184px;
  cursor: pointer;
  margin-top: 10px;
}

/* ------- SAVED property - BDS Đã lưu -------- */
.saved-property-field {
}

.saved-property-field .saved-property-horizontal-tabs {
  display: flex;
  align-items: center;
  /* gap: 36px; */
  margin-top: 20px;

  padding-bottom: 10px;
  border-bottom: 0.5px solid #bdbdbd;
}

.saved-property-field .saved-property-horizontal-tabs .tab {
  position: relative;
  white-space: nowrap;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #828282;
  text-align: center;

  /* width: 82px; */
  padding: 0px 28px;
  cursor: pointer;
}

/* Hover or active tab item */
.saved-property-field .saved-property-horizontal-tabs .tab.active,
.saved-property-field .saved-property-horizontal-tabs .tab:hover {
  color: #3d3d4e;
}
.saved-property-field .saved-property-horizontal-tabs .tab::after,
.saved-property-field .saved-property-horizontal-tabs .tab::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  background: #828282;
  border-radius: 10px;
  transition: all 0.3s;
}
.saved-property-field .saved-property-horizontal-tabs .tab.active.tab::after,
.saved-property-field .saved-property-horizontal-tabs .tab:hover.tab::after {
  width: 100%;
}

.saved-property-field .saved-property-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 40px;

  margin-top: 30px;
}

/* ------- END SAVED property - BDS Đã lưu -------- */

/* -------- POST MANAGEMENT - Quản lý tin đăng ---------  */
.post-management-field {
}
.post-management-field .post-management-list {
  display: flex;
  flex-direction: column;

  gap: 24px;
  margin-top: 24px;
}

.post-card {
  position: relative;
  display: flex;

  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #bdbdbd;
}
.post-card:last-child {
  border-bottom: unset;
}

.post-card .post-img__wrapper {
  width: 240px;
  height: 184px;
  border-radius: 6px;
}
.post-card .post-img__wrapper img {
  max-width: unset;
  width: 240px;
  height: 184px;
  object-fit: cover;
  border-radius: 6px;
}

.post-card .post-info__wrapper {
}
.post-card .post-info__wrapper .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;

  /* Limit 2 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.post-card .post-info__wrapper .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  margin: 8px 0px 12px 0px;
}

.post-card .post-detail__wrapper {
  display: flex;
  align-items: center;

  gap: 38px;
}

.post-detail-item {
  display: flex;
  align-items: center;
}

.post-detail-item .post-detail-img__wrapper {
  width: 24px;
  height: 24px;
}
.post-detail-item .post-detail-img__wrapper img {
  width: 100%;
}
.post-detail-item span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  margin-left: 6px;
}

.post-card .post-price__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 16px;
}
.post-card .post-price__wrapper .post-price {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #a78863;
}
.post-card .post-price__wrapper .edit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #828282;

  border: 0.5px solid #828282;
  border-radius: 6px;
  padding: 7px 32px 7px;
  cursor: pointer;
}
/* -------- END POST MANAGEMENT - Quản lý tin đăng ---------  */

/* ========= END  Right side | Tab Panel | User Information | Thông Tin Cá Nhân =========== */
