@media screen and (max-width: 800px) {
  .account-page__wrapper {
  }

  .account__wrapper {
    display: block;

    gap: unset;
    margin-top: 0vw;
    padding: 0vw;
  }

  /* ========= Left side | Avatar + vertical-Tabs =========== */
  .account-left__wrapper {
    padding: 0vw 3.733333334vw;
    margin-top: 8vw;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
  }
  .account-vertical-tabs-field {
    width: 100%;
    height: unset;
    padding: 0vw;

    /* Gray 4 */
    border: unset;
    border-radius: unset;
  }

  .account-avatar .avatar {
    width: 26.66666667vw;
    height: 26.66666667vw;
  }
  .account-avatar .avatar img {
    width: 100%;
    border-radius: 50%;
  }

  .account-avatar .full-name {
    display: block;
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
    color: #333333;
    margin-top: 4.266666667vw;
  }
  .account-avatar .change-avatar {
    display: none;
  }

  .account-vertical-tabs {
    margin-top: 8vw;
    width: 100%;

    padding-left: 3.733333334vw;
  }

  .account-vertical-tabs .tab {
    height: 10.66666667vw;
    border-radius: unset;

    padding-left: unset;
    margin: 3.2vw 0vw;
  }

  .account-vertical-tabs .tab p {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }

  .account-vertical-tabs .tab .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    width: 8.533333334vw;
    height: 8.533333334vw;
  }
  .account-vertical-tabs .tab .arrow-right img {
    height: 3.2vw;
    width: 1.2vw;
  }

  .account-vertical-tabs .tab.active,
  .account-vertical-tabs .tab:hover {
    background: inherit;
    border-left: unset;
  }
  .account-vertical-tabs .tab.active p,
  .account-vertical-tabs .tab:hover p {
    font-weight: inherit;
    color: inherit;
  }

  .account-vertical-tabs .logout-divider {
    display: block;
    border-top: 0.133333334vw solid #bdbdbd;
    margin-right: 2.666666667vw;
  }
  /* ========= END Left side | Avatar + vertical-Tabs =========== */

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  /* =========  Right side | Tab Panel | User Information | Thông Tin Cá Nhân =========== */
  .account-right__wrapper {
    flex: unset;

    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    transition: all 0.3s;
  }

  .checkbox-tab-panel {
    display: none;
  }

  /* .personal-information-field */
  .tab-panel-field {
    width: 100%;
    display: none;
  }

  /* DISPLAY TAB PANEL  */
  /* Slide */
  .checkbox-tab-panel:checked ~ .account-left__wrapper {
    left: -100%;
  }
  .checkbox-tab-panel:checked ~ .account-right__wrapper {
    left: 0;
  }

  #account-page-personal-information-field:checked
    ~ .account-right__wrapper
    .personal-information-field {
    display: block !important;
  }
  #account-page-change-password-field:checked
    ~ .account-right__wrapper
    .change-password-field {
    display: block !important;
  }
  #account-page-saved-property-field:checked
    ~ .account-right__wrapper
    .saved-property-field {
    display: block !important;
  }
  #account-page-post-management-field:checked
    ~ .account-right__wrapper
    .post-management-field {
    display: block !important;
  }
  /* -------------------------------------------------------- */

  .tab-panel-field .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 7px 3.733333334vw;
    background: #ffffff;
    box-shadow: 0vw 0.533333334vw 0.533333334vw rgba(0, 0, 0, 0.04);
  }

  .tab-panel-field .back {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 10.66666667vw;
    height: 10.66666667vw;
    cursor: pointer;
  }
  .tab-panel-field .back img {
    height: 4vw;
    width: 1.4vw;
  }
  .tab-panel-field .blank {
    display: block;
    width: 10.66666667vw;
  }

  .tab-panel-field .title {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }

  /* .personal-information-field .personal-information-form */
  .personal-information-form .change-avatar-mobile__wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 8vw;
  }
  .change-avatar-mobile__wrapper .avatar-mobile__wrapper {
    width: 17.06666667vw;
    height: 17.06666667vw;
    margin-right: 5.333333334vw;
  }
  .change-avatar-mobile__wrapper .avatar-mobile__wrapper img {
    width: 100%;
    border-radius: 50%;
  }
  .change-avatar-mobile__wrapper .change-avatar-mobile {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #a78863;
    cursor: pointer;
  }

  .tab-panel-field form {
    margin-top: 8vw;
    margin-bottom: 13.33333334vw;
    padding: 0vw 3.733333334vw;
  }

  .tab-panel-field .text-field {
    width: unset;
    padding-bottom: 5.333333334vw;
  }
  .tab-panel-field .text-field .label {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
    margin-bottom: 4.266666667vw;
  }
  .tab-panel-field .text-field .input__wrapper {
    position: relative;
  }
  .tab-panel-field .text-field .input__wrapper input {
    position: relative;
    width: 100%;
    background: #ffffff;
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;
    padding: 2.4vw 3.2vw 2.933333334vw;

    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .tab-panel-field .text-field .input__wrapper input::placeholder {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .tab-panel-field .text-field .input__wrapper input:focus-visible {
    outline: none;
  }
  .tab-panel-field .text-field .input__wrapper input.password {
    padding-right: 10.66666667vw;
  }

  .tab-panel-field .text-field .input__wrapper img {
    right: 3.2vw;
    width: 4.445333334vw;
    height: 4.445333334vw;
  }

  .tab-panel-field .btn {
    padding: 2.666666667vw 8.533333334vw 2.933333334vw;
  }
  .tab-panel-field .save-btn {
    font-weight: 600;
    font-size: 4vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.053333334vw;

    border-radius: 1.6vw;

    width: 100%;
    margin-top: 2.666666667vw;
  }

  /* ------- SAVED property - BDS Đã lưu -------- */
  .saved-property-field {
  }

  .saved-property-field .saved-property-horizontal-tabs {
    margin-top: 5.333333334vw;
    margin-left: 3.733333334vw;
    margin-right: 3.733333334vw;
    padding-bottom: 2.666666667vw;
    border-bottom: 0.133333334vw solid #bdbdbd;
  }

  .saved-property-field .saved-property-horizontal-tabs .tab {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    width: 50%;
  }

  /* Hover or active tab item */
  .saved-property-field .saved-property-horizontal-tabs .tab.active,
  .saved-property-field .saved-property-horizontal-tabs .tab:hover {
    color: #3d3d4e;
  }
  .saved-property-field .saved-property-horizontal-tabs .tab::after,
  .saved-property-field .saved-property-horizontal-tabs .tab::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.666666667vw;
    width: 0;
    height: 0.8vw;
    background: #828282;
    border-radius: 2.666666667vw;
    transition: all 0.3s;
  }
  .saved-property-field .saved-property-horizontal-tabs .tab.active.tab::after,
  .saved-property-field .saved-property-horizontal-tabs .tab:hover.tab::after {
    width: 100%;
  }

  .saved-property-field .saved-property-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.733333334vw;
    row-gap: 8vw;

    margin-top: 8vw;
    margin-bottom: 13.33333334vw;
    padding: 0vw 3.733333334vw;
  }

  /* Custom prodcut */
  .saved-property-list .product__wrapper {
    width: 44.53333334vw;
  }

  .saved-property-list .product-card {
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;
  }

  .saved-property-list .product-image__wrapper .product-bookmark {
    width: 6.4vw;
    height: 6.4vw;
  }

  .product-image__wrapper .product-image {
    border-radius: 1.6vw 1.6vw 0vw 0vw;
  }

  .saved-property-list .product-card .product-info {
    padding: 2.666666667vw 2.133333334vw;
  }

  .saved-property-list .product-info > h3 {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
    color: #a78863;
    margin-bottom: 1.066666667vw;
  }
  .saved-property-list .product-info > p {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #0d0c22;
    margin-bottom: 1.066666667vw;
  }
  .saved-property-list .product-info > span {
    font-weight: 400;
    font-size: 3.466666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #3d3d4e;
  }
  .saved-property-list .product-divider {
    border-top: 0.133333334vw solid #e0e0e0;
    display: flex;
    margin: 0vw 2.666666667vw;
  }

  .saved-property-list .product-card .product-detail {
    padding: 2.133333334vw 2.666666667vw;
    gap: 2.666666667vw;
  }

  .saved-property-list .product-card .product-detail .product-detail-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .saved-property-list .product-card .product-detail .product-detail-item img {
    width: 5.333333334vw;
    height: 5.333333334vw;
  }
  .saved-property-list .product-card .product-detail .product-detail-item span {
    font-weight: 400;
    font-size: 3.466666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #3d3d4e;
    margin-left: 1.6vw;
    margin-right: unset;
  }

  /* ------- END SAVED property - BDS Đã lưu -------- */

  /* -------- POST MANAGEMENT - Quản lý tin đăng ---------  */
  .post-management-field {
  }
  .post-management-field .post-management-list {
    gap: 6.4vw;
    padding: 0vw 3.733333334vw;
    margin-top: 5.333333334vw;
  }

  .post-card {
    gap: 2.933333334vw;
    padding-bottom: 6.4vw;
    border-bottom: 0.133333334vw solid #bdbdbd;
  }
  .post-card:last-child {
    border-bottom: unset;
  }

  .post-card .post-img__wrapper {
    width: 28.26666667vw;
    height: 24vw;
    border-radius: 1.6vw;
  }
  .post-card .post-img__wrapper img {
    max-width: unset;
    width: 28.26666667vw;
    height: 24vw;
    object-fit: cover;
    border-radius: 1.6vw;
  }

  .post-card .post-info__wrapper {
  }
  .post-card .post-info__wrapper .title {
    font-weight: 500;
    font-size: 3.733333334vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
    color: #0d0c22;
  }
  .post-card .post-info__wrapper .address {
    font-weight: 400;
    font-size: 3.466666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #3d3d4e;

    margin: 0.533333334vw 0vw;
  }

  .post-card .post-detail__wrapper {
    gap: 2.666666667vw;
  }

  .post-detail-item {
    /* display: flex;
    align-items: center; */
  }

  .post-detail-item .post-detail-img__wrapper {
    width: 5.333333334vw;
    height: 5.333333334vw;
  }
  .post-detail-item .post-detail-img__wrapper img {
    width: 100%;
  }
  .post-detail-item span {
    font-weight: 400;
    font-size: 3.466666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #3d3d4e;
    margin-left: 1.6vw;
  }

  .post-card .post-price__wrapper {
    margin-top: 1.6vw;
  }
  .post-card .post-price__wrapper .post-price {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }
  .post-card .post-price__wrapper .edit-btn {
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 160%;

    letter-spacing: 0.053333334vw;
    color: #a78863;

    padding: unset;
    border: none;
  }
  /* -------- END POST MANAGEMENT - Quản lý tin đăng ---------  */

  /* ========= END  Right side | Tab Panel | User Information | Thông Tin Cá Nhân =========== */
}
