/* --- HOME CSS --- */

/* ===== MAIN ===== */

/* ------- MAIN FILTER ------  */

.home-main-filter__wrapper {
  width: 100%;
  height: 533px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/images/home-main-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-content-box {
  position: relative;
  width: 408px;
  height: 424px;

  padding: 30px 26px 40px;

  background: rgba(33 33 33 / 60%);
  border-radius: 6px;
}

.main-content-box .main-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212121;
  opacity: 0.6;
  border-radius: 6px;
}

.main-content-box > span {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 30px 0px;
}

.main-content-box .dropdown-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;
  padding: 7px 12px;
  margin: 20px 0px;
  cursor: pointer;
}

.main-content-box .dropdown-select > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;

  /* Limit 1 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.main-content-box .dropdown-select > input[type="text"] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;

  width: 100%;
  background: #f9f9f9;
  border: none;
  outline: none;
}
.main-content-box .dropdown-select > input[type="text"]::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;
}

.main-content-box .dropdown-select img {
  /* position: relative; */
}

.main-content-box .dropdown-select::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
  background-color: transparent;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: -1px;
  width: calc(100% + 2px);
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;

  background: #ffffff;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 100;

  padding: 10px 0px;
}

/* Sub dropdown menu */
.dropdown-menu .dropdown-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 20px;
  height: 40px;
}
.dropdown-menu .dropdown-menu-header .back {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-menu .dropdown-menu-header .back img {
}
.dropdown-menu .dropdown-menu-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #333333;
}
.dropdown-menu .dropdown-menu-header .blank {
  width: 32px;
  height: 32px;
}

/* Range min to max */
.dropdown-menu .dropdown-menu-header .range-btn {
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #828282;

  width: 140px;
  height: 100%;
  padding: 0px 10px;
}
.dropdown-menu .dropdown-menu-header .range-btn:focus-visible {
  outline: none;
}
.dropdown-menu .dropdown-menu-header span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #828282;
}

.dropdown-menu::-webkit-scrollbar {
  display: block !important;
  width: 4px;
}
.dropdown-menu::-webkit-scrollbar-track {
  background: #f2f2f2;
}
.dropdown-menu::-webkit-scrollbar-thumb {
  background: #caa67b;
  border-radius: 10px;
}
/* Handle on hover */
.dropdown-menu::-webkit-scrollbar-thumb:hover {
}

.dropdown-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 40px;
  transition: all 0.3s;
}

.dropdown-menu-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
}

.dropdown-menu-item:hover {
  background: #f6f3ef;
}

/* Hover to display the menu dropdown */
.dropdown-select-type:hover .dropdown-menu-type {
  display: block;
}
.dropdown-select-area:hover .dropdown-menu-area {
  display: block;
}
.dropdown-select-price:hover .dropdown-menu-price {
  display: block;
}
.dropdown-select-size:hover .dropdown-menu-size {
  display: block;
}

.dropdown-select-area:hover .dropdown-menu-extend-area {
  /* Test */
  display: block;
  top: 305px;
}

/* End drop down menu */

.main-content-box .find-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 32px 9px;

  width: 100%;

  background: #a78863;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 30px;
}

/* ====== HOT NEWS ====== */

.home-hot-news {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-hot-news > p {
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #0d0c22;
}

.hot-news-list {
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 40px;
  scroll-snap-type: x mandatory;
}

/* ===== REGION | BAT DONG SAN HOT THEO VUNG */
.home-region__wrapper {
  background: #f2f2f2;
}
.home-region {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-region-info > h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #0d0c22;
  margin: 12px 0px;
}

.home-region-info > p {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  margin: 12px 0px;
}

.home-region-info .dropdown-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;
  padding: 7px 12px;
  margin: 20px 0px;
  cursor: pointer;
}

.home-region-info .dropdown-select > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;

  /* Limit 1 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.home-region-info .dropdown-select > img {
}

.home-region-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.home-region-item {
}
.home-region-content {
  position: relative;
}
.home-region-content img {
  object-fit: cover;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 6px;
}
.home-region-content p {
  position: absolute;
  left: 5.39%;
  bottom: 9.68%;

  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

/* ====== LATEST NEWS || TIN MOI NHAT */
.latest-news__wrapper {
  background-color: #ffffff;
}
.latest-news {
  padding-top: 80px;
  padding-bottom: 80px;
}

.latest-news > p {
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #0d0c22;
}

.latest-news-list {
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 40px;
  scroll-snap-type: x mandatory;
}

/* ===== BANNER ===== */
.home-banner__wrapper {
  display: block;
  width: 100%;
  background: url("../assets/images/banner-bg.jpg");
}
.home-banner {
  padding-top: 80px;
  padding-bottom: 80px;
}
.banner-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.banner-item {
  border-radius: 6px;
  background: #a78863;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 20px;
}
.banner-content .icon-box {
  position: relative;
}
.banner-content .icon-box img:first-child {
  position: relative;
}
.banner-content .icon-box img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-content p {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;

  margin-top: 20px;
  margin-bottom: 10px;
}
.banner-content span {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

/* ===== NEWS || TIN TUC BAT DONG SAN */
.home-news__wrapper {
  background-color: #ffffff;
}
.home-news {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-news > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-news > .title > p {
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #0d0c22;
}

.home-news > .title > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #a78863;

  display: flex;
  align-items: center;
}

.home-news .news-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 50px;
}

.home-news .news-content {
  display: flex;
  align-items: flex-start;
}

.home-news .news-content img {
  border-radius: 6px;
  margin-right: 24px;
}

.home-news .news-content .news-detail h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;
  margin: 10px 0px;
}

.home-news .news-content .news-detail .date-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #828282;
  margin: 10px 0px;
}

.home-news .news-content .news-detail span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #4f4f4f;
  margin: 12px 0px;
}

.home-news-see-all {
  display: none;
}

/* ============================ */
