@media screen and (max-width: 375px) {
  /* ==================================== */
  .home-main-filter__wrapper {
    height: unset;
  }

  .main-content {
    justify-content: center;
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }
  .main-content-box {
    background: none;
    padding: 0;
    height: unset;
    width: 100%;
    padding-top: 44.8vmin;
    padding-bottom: 10.666666667vmin;
  }

  .main-content-box > span {
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .main-content-box .dropdown-select {
    padding: 1.866666667vw 3.2vw;
    margin-top: 5.333333334vw;
    margin-bottom: 5.333333334vw;
  }

  .main-content-box .dropdown-select > span {
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .main-content-box .dropdown-select > img {
    width: 8.533333334vw;
  }

  .main-content-box .find-btn {
    font-weight: 600;
    font-size: 3.733333334vw;
    line-height: 6.4vw;
    letter-spacing: 0.026666667vw;
    padding: 1.866666667vmin 8.533333334vw 2.4vmin;
    margin-top: 8vmin;
  }

  .main-content-box .dropdown-select::after {
    bottom: -1.333333334vw;
    height: 1.333333334vw;
  }

  /* Dropdown menu */
  .dropdown-menu {
    top: 13.333333334vw;
    left: -0.266666667vw;
    width: calc(100% + 0.533333334vw);
    height: 80vmin;
    max-height: 80vmin;

    box-shadow: 1.066666667vw 1.066666667vw 4.266666667vw rgba(0, 0, 0, 0.15);
    border-radius: 1.6vw;

    padding: 2.666666667vw 0vw;
  }

  /* Sub dropdown menu */
  .dropdown-menu .dropdown-menu-header {
    padding: 0vw 5.333333334vw;
    height: 10.666666667vw;
  }
  .dropdown-menu .dropdown-menu-header .back {
    width: 8.533333334vw;
    height: 8.533333334vw;
  }
  .dropdown-menu .dropdown-menu-header .back img {
  }
  .dropdown-menu .dropdown-menu-header p {
    font-size: 4.266666667vw;

    letter-spacing: 0.053333334vw;
  }
  .dropdown-menu .dropdown-menu-header .blank {
    width: 8.533333334vw;
    height: 8.533333334vw;
  }

  /* Range min to max */
  .dropdown-menu .dropdown-menu-header .range-btn {
    border-radius: 1.6vw;

    font-size: 4.266666667vw;

    letter-spacing: 0.053333334vw;

    width: 37.333333334vw;
    height: 100%;
    padding: 0vw 2.666666667vw;
  }
  .dropdown-menu .dropdown-menu-header span {
    font-size: 4.266666667vw;
    letter-spacing: 0.053333334vw;
  }

  .dropdown-menu::-webkit-scrollbar {
    display: block !important;
    width: 1.066666667vw;
  }
  .dropdown-menu::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  .dropdown-menu::-webkit-scrollbar-thumb {
    background: #caa67b;
    border-radius: 2.666666667vw;
  }
  /* Handle on hover */
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
  }

  .dropdown-menu-item {
    padding: 0vw 5.333333334vw;
    height: 10.666666667vw;
  }

  .dropdown-menu-item p {
    font-size: 4.266666667vw;
    letter-spacing: 0.053333334vw;
  }

  .dropdown-menu-item:hover {
    background: #f6f3ef;
  }

  /* Hover to display the menu dropdown */
  .dropdown-select-type:hover .dropdown-menu-type {
    display: block;
  }
  .dropdown-select-area:hover .dropdown-menu-area {
    display: block;
  }
  .dropdown-select-price:hover .dropdown-menu-price {
    display: block;
  }
  .dropdown-select-size:hover .dropdown-menu-size {
    display: block;
  }

  .dropdown-select-area:hover .dropdown-menu-extend-area {
    /* Test */
    display: block;
    top: 81.333333334vmin;
  }

  /* End drop down menu */

  /* ====== HOT NEWS ====== */

  .home-hot-news {
    padding-top: 13.333333334vw;
    padding-bottom: 13.333333334vw;
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }
  .home-hot-news > p {
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }
  .hot-news-list {
    overflow-x: auto;
    margin: auto;
    margin-top: 8vmin;
    grid-auto-flow: column;
    column-gap: 3.733333334vw;
  }

  /* ===== REGION | BAT DONG SAN HOT THEO VUNG */

  .home-region {
    padding-top: 13.333333334vw;
    padding-bottom: 13.333333334vw;
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }

  .home-region-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-region-info > h2 {
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
    margin: 0vw;
  }

  .home-region-info > p {
    display: none;
  }

  .home-region-info .dropdown-select {
    padding: 1.866666667vw 3.2vw;
    margin-top: 0vw;
    margin-bottom: 1.066666667vmin;
  }

  .home-region-info .dropdown-select > span {
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .main-content-box .dropdown-select > input[type="text"] {
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .main-content-box .dropdown-select > input[type="text"]::placeholder {
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .home-region-info .dropdown-select > img {
    width: 8.533333334vw;
    height: 8.533333334vw;
  }

  .home-region-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.466666667vw;
  }

  .home-region-content {
    position: relative;
  }
  .home-region-content img {
    border-radius: 1.066666667vw;
  }
  .home-region-content p {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }

  /* ====== LATEST NEWS || TIN MOI NHAT */

  .latest-news {
    padding-top: 13.333333334vw;
    padding-bottom: 13.333333334vw;
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }

  .latest-news > p {
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .latest-news-list {
    overflow-x: auto;
    margin: auto;
    margin-top: 8vmin;
    grid-auto-flow: column;
    column-gap: 3.733333334vw;
  }

  /* ===== BANNER ===== */

  .home-banner {
    padding-top: 13.333333334vw;
    padding-bottom: 13.333333334vw;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .banner-list {
    grid-template-columns: 1fr;
    gap: 10.666666667vmin;
  }

  .banner-content {
    padding: 6.4vw;
  }

  .banner-content .icon-box img:first-child {
    position: relative;
    width: 26.133333334vw;
  }

  .banner-content .icon-box img:nth-child(2) {
    width: 14vw;
    width: 14vw;
  }

  .banner-content p {
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
    margin-top: 5.333333334vmin;
    margin-bottom: 2.666666667vmin;
  }
  .banner-content span {
    font-weight: 300;
    font-size: 3.733333334vw;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.053333334vw;
  }

  /* ===== NEWS || TIN TUC BAT DONG SAN */
  .home-news {
    padding-top: 13.333333334vw;
    padding-bottom: 13.333333334vw;
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }

  .home-news > .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home-news > .title > p {
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .home-news > .title > a {
    display: none;
  }

  .home-news .news-list {
    grid-template-columns: 1fr;
    gap: 8vmin;
    margin-top: 8vmin;
  }

  .home-news .news-content {
    display: flex;
    align-items: flex-start;
  }

  .home-news .news-content img {
    /* Note */
    width: 34.133333334vw;
    border-radius: 1.066666667vw;
    margin-right: 3.733333334vw;
  }

  .home-news .news-content .news-detail h2 {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #333333;
    margin: 0vw;

    /* Limit 2 lines of text */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .home-news .news-content .news-detail .date-time {
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
    color: #828282;
    margin: 2.133333334vmin 0vw;
  }

  .home-news .news-content .news-detail span {
    display: none;
  }

  .home-news-see-all {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 3.733333334vw;
    line-height: 6.4vmin;
    letter-spacing: 0.026666667vw;
    color: #a78863;
    margin-top: 5.866666667vmin;
  }

  .home-news-see-all > img {
    width: 8.533333334vw;
  }

  /* ============================ */
}
