/* ======== FOOTER ========= */
.footer__wrapper {
  background: #212121;
}
.footer-content {
  padding-top: 80px;
  padding-bottom: 90px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-info {
  flex-basis: 35%;
}

.footer-info .footer-logo__wrapper .logo {
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  line-height: 65px;
  letter-spacing: 0.3px;
  color: #f9f9f9;
}

.footer-info > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #f9f9f9;
  margin-top: 14px;
}

.footer-detail {
  flex-basis: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-detail .footer-detail-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-detail .footer-detail-item p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #f9f9f9;
  margin-bottom: 12px;
}
.footer-detail .footer-detail-item span {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #f9f9f9;
  margin-top: 14px;
}
