@media screen and (max-width: 375px) {
  /* ======== FOOTER ========= */
  .footer-content {
    padding-top: 13.333333334vw;
    padding-bottom: 13.333333334vw;
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
    flex-direction: column;
  }

  .footer-info {
    flex-basis: unset;
  }

  .footer-info .footer-logo__wrapper .logo {
    font-weight: 500;
    font-size: 8vw;
    line-height: 140%;
    letter-spacing: -0.012em;
    margin: 5.333333334vw 0vw;
  }

  .footer-info > p {
    font-weight: 300;
    font-size: 3.733333337vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
    margin: 5.333333334vw 0vw;
  }

  .footer-detail {
    flex-basis: unset;
    grid-template-columns: 1fr;
  }

  .footer-detail .footer-detail-item p {
    font-size: 4.266666667vw;
    line-height: 140%;
    letter-spacing: -0.012em;
    margin: 5.333333334vw 0vw;
  }
  .footer-detail .footer-detail-item span {
    font-weight: 300;
    font-size: 3.733333337vw;
    line-height: 4.8vw;
    letter-spacing: -0.012em;
    margin: 5.333333334vw 0vw;
  }
}
