@media screen and (max-width: 984px) {
  /* banner__wrapper */
  .calculate-interest-page .banner__wrapper {
    height: 80vw;
  }
  .calculate-interest-page
    .banner__wrapper
    .banner-content
    .banner-main-content {
    margin-bottom: 13.33333333vw; /* 50px */
  }
  .calculate-interest-page .banner__wrapper .banner-content .banner-title {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 8.8vw;
    /* identical to box height, or 33px */

    letter-spacing: 0.026666667vw;
  }
  .calculate-interest-page
    .banner__wrapper
    .banner-content
    .banner-description {
    font-weight: 400;
    font-size: 4vw; /* or 15px */
    line-height: 5.866666667vw;
    /* or 22px */

    display: flex;
    align-items: center;
    letter-spacing: 0.053333333vw;
  }

  .container .title {
    font-weight: 500;
    font-size: 5.333333333vw;
    line-height: 8vw;
    /* identical to box height, or 30px */

    letter-spacing: 0.026666667vw; /* 0.1px */
    color: #333333;
  }

  /* calcutating__wrapper */
  .calcutating__wrapper {
    margin-top: 8vw; /* 30px */
    padding: 0px;
  }
  .calcutating__wrapper
    .calcutating__container
    .calcutating__form_container
    .calcutating__form
    .text-field
    .label {
    font-weight: 500;
    font-size: 4vw;
    line-height: 5.866666667vw;
    /* or 22px */

    display: flex;
    align-items: center;
    letter-spacing: 0.053333333vw;
  }
  .calcutating__wrapper .calcutating__container,
  .loan_packages__list .list,
  .other_tools__wapper .tool_banner_list {
    flex-direction: column !important;
  }
  .calcutating__wrapper .calcutating__container .calcutating__form_container,
  .calcutating__wrapper .calcutating__container .chart__wrapper {
    width: 100%;
  }
  .calcutating__wrapper .calcutating__container .chart__wrapper {
    margin-top: 8vw;
  }
  .calcutating__wrapper
    .calcutating__container
    .calcutating__results
    .value__wrapper {
    font-weight: 500;
    font-size: 8.533333333vw; /* 32px */
    line-height: 12.8vw; /* 48px */
    display: flex;
    align-items: center;
    letter-spacing: 0.053333333vw; /* 0.2px*/
  }
  .calcutating__wrapper
    .calcutating__container
    .calcutating__results
    .text-field
    .label {
    font-weight: 500;
    font-size: 4.266666667vw; /* 16px */
    line-height: 5.866666667vw;
    /* or 22px */

    display: flex;
    align-items: center;
    letter-spacing: 0.053333333vw;
  }
  .calcutating__wrapper .input__wrapper_dropdown,
  .calcutating__wrapper .input__wrapper {
    margin-top: 4.266666667vw;
  }

  /* loan_packages__wrapper */
  .loan_packages__wrapper > .divider {
    background-color: #f2f2f2;
    height: 2.666666667vw;
  }
  .loan_packages__list .list {
    row-gap: 5.333333333vw;
  }
  .loan_packages__list .list .list-item {
    width: 100%;
  }
  .loan_packages__list .list .list-item .bank_loan_info .bank_interest,
  .loan_packages__list .list .list-item .bank_loan_info .bank_term {
    width: calc(100% - 45.33333333vw);
  }
  .loan_packages__list .list .list-item .list_item_header > img {
    width: 21.33333333vw; /* 80px */
    height: 17.06666667vw; /* 64px */
    margin-right: 8.266666667vw; /* 31px */
  }

  /* other_tools__wapper */
  .other_tools__wapper .tool_banner_list {
    row-gap: 5.333333333vw;
  }
  .other_tools__wapper
    .tool_banner_list
    .tool_banner_item
    .tool_banner_content
    .title {
    font-weight: 500;
    font-size: 4.8vw; /* or 18px */
    line-height: 6.666666667vw;
    /* or 25px */

    display: flex;
    align-items: center;
    letter-spacing: 0.053333333vw;
  }
  .other_tools__wapper
    .tool_banner_list
    .tool_banner_item
    .tool_banner_content
    .description {
    font-weight: 400;
    font-size: 3.733333333vw; /* 14px */
    line-height: 5.866666667vw;
    /* or 22px */

    display: flex;
    align-items: center;
    letter-spacing: 0.053333333vw;
  }
  .other_tools__wapper .tool_banner_list .tool_banner_item .img_border {
    width: 28vw;
  }
}
