/* ===== HEADER CSS ===== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 100;

  background-color: #212121;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.header__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 60px;
}

.header-logo__wrapper {
}

.header-logo__wrapper > .logo {
  font-weight: 500;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.header-menu__wrapper {
  display: flex;
  align-items: center;
}
.header-menu__wrapper > li {
  margin-left: 48px;
}
.header-menu__wrapper > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.header-menu__wrapper > li > a.active,
.header-menu__wrapper > li > a:hover {
  color: #c19b6e;
}

.header-right__wrapper {
  margin-left: auto;
}

.login-upload__wrapper {
  display: flex;
  align-items: center;
}

.login-upload__wrapper .avatar__wrapper {
  position: relative;
}

.login-upload__wrapper .avatar__wrapper img {
  border-radius: 50%;
}

.login-upload__wrapper > a.signin-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.login-upload__wrapper > a.upload-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-left: 32px;

  border: 1px solid #ffffff;
  padding: 8px 32px;
  border-radius: 8px;
}

.menu-checkbox {
  cursor: pointer;
  display: none;
}

#header-check-menu {
  display: none;
}

.header-menu-mobile__wrapper {
  display: none;
}

/* ----- Header Logged In --------- */
.info-popper__wrapper {
  inset: 0px 0px auto auto;
  position: absolute;
  top: 48px;
  right: -28px;
  min-width: 312px;
}

.info-popper__wrapper > ul {
  background: #ffffff;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.info-popper__wrapper > ul p {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  padding: 20px;
}

.info-popper__wrapper > ul hr {
  border: none;
  border-top: 0.5px solid #bdbdbd;
}

.info-popper__wrapper > ul li {
  padding: 6px 20px;
}

.info-popper__wrapper > ul li:hover {
  background: #f6f3ef;
}

.info-popper__wrapper > ul li a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #333333;
  margin: 6px 0px;
}
/* -------------------------------------------- */
