@media screen and (max-width: 375px) {
  /* ===== HEADER CSS ===== */
  .header__wrapper {
    margin: 0;
    padding: 0 3.733333334vw;

    justify-content: space-between;
  }

  .header-logo__wrapper > .logo {
    font-style: normal;
    font-weight: 600;
    font-size: 6.4vw;
    line-height: 8.533333334vw;
    letter-spacing: 0.053333334vw;
  }

  .header-menu__wrapper {
    display: none;
  }

  .header-right__wrapper {
    display: none;
  }

  .menu-checkbox {
    display: block;
  }
  .menu-checkbox img {
    width: 9.6vw;
  }

  #header-check-menu:checked ~ .header-menu-mobile__wrapper {
    right: 0;
  }

  #header-check-menu:checked ~ .menu-mobile-overlay {
    display: block;
  }

  /* --------------------Mobile Menu------------------- */
  .menu-mobile-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background: #000000;
    z-index: 99;
  }

  .header-menu-mobile__wrapper {
    position: fixed;
    top: 0;
    right: -80.266666666vw;
    width: 80.266666666vw;
    height: 100vh;
    background: #ffffff;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    transition: all 0.3s;
  }

  .header-menu-mobile__wrapper .logo-mobile__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.733333334vw 5.333333334vw;
  }

  .header-menu-mobile__wrapper .logo-mobile__wrapper p {
    font-weight: 600;
    font-size: 6.4vw;
    line-height: 8.533333334vw;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }

  .header-menu-mobile__wrapper .menu-mobile-divider {
    /* background-color: #bdbdbd;
    height: 0.5px; */
    width: 100%;
    border-top: 0.133333334vw solid #bdbdbd;
  }

  .menu-mobile-btn {
    margin: 3.733333334vw 5.333333334vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 4vw;
    line-height: 6.4vw;
    letter-spacing: 0.026666667vw;
    color: #4f4f4f;
    margin: 5.333333334vw;

    padding: 1.866666667vw 8.533333334vw 2.4vw;
    border: 0.266666667vw solid #4f4f4f;
    border-radius: 1.6vw;

    cursor: pointer;
  }

  .menu-mobile-login-btn {
    color: #a78863;
    border: 0.266666667vw solid #a78863;
  }

  .header-menu-mobile__wrapper ul {
  }

  .header-menu-mobile__wrapper li {
    width: 100%;
    margin-left: 0vw;
    margin: 0 5.333333334vw;
    padding: 3.733333334vw 0;
  }

  .header-menu-mobile__wrapper li a {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }

  .header-menu-mobile__wrapper li a:hover {
    color: #c19b6e;
  }

  .menu-mobile-info {
    display: flex;
    align-items: center;
    margin: 5.333333334vw;
    margin-bottom: 0;
  }
  .menu-mobile-info img:first-child {
    border-radius: 50%;
  }
  .menu-mobile-info .menu-mobile-info-namebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .menu-mobile-info .menu-mobile-info-namebox p {
    font-weight: 500;
    font-size: 4.266666667vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
    margin-left: 4.266666667vw;
  }

  /* ------------- END MOBILE MENU --------------- */
}
