.regional-detail-page {
}

.regional-detail-page .heading-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #333333;

  padding-top: 20px;
  padding-bottom: 40px;
}

.regional-detail-page .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;
}

/* ---------- OVERVIEW ------------- */
.regional-detail-page .regional-detail-overview__wrapper {
}

.regional-detail-overview__wrapper .overview-container {
  display: flex;
  column-gap: 24px;
  padding-top: 30px;
  padding-bottom: 80px;
}

.regional-detail-overview__wrapper .overview-container .overview-left {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(177px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(114px, 1fr)); */
  gap: 16px;
}

.regional-detail-overview__wrapper .overview-container .overview-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.overview-container .overview-img__wrapper {
  border-radius: 6px;
  overflow: hidden;
}

.overview-container .overview-img__wrapper.overview-img-main__wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.overview-container .overview-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overview-container .overview-content__wrapper {
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  gap: 18px;

  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;

  padding: 24px 20px;
}

.overview-content__wrapper .overview-content-item {
  display: flex;
  gap: 8px;
}

.overview-content-item .item-icon__wrapper {
  width: 24px;
  height: 24px;
}

.overview-content-item .item-icon__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overview-content-item .item-info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.overview-content-item .item-info .item-info-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #333333;
}
.overview-content-item .item-info .item-info-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
}

.overview-see-more__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.overview-content__wrapper .overview-see-more-item {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}
.overview-see-more-item .overview-see-more-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #a78863;
}
.overview-see-more-item .see-more-icon__wrapper {
  width: 4.2px;
  height: 12px;
}
.overview-see-more-item .see-more-icon__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ---------- END OVERVIEW ------------- */

/* --------------- TABS ---------------------- */
.regional-detail-page .popular-place__wrapper {
}

.regional-detail-page .popular-place__wrapper .popular-place-box__wrapper {
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;
  overflow: hidden;

  margin: 30px 0px 80px 0px;
}

.popular-place-box__wrapper .popular-place-tabs {
  display: flex;
  align-items: center;
  column-gap: 40px;
  padding: 0px 14px;

  overflow: auto;
  scroll-snap-type: x mandatory;
}

.popular-place-tabs .popular-place-tab {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 14px 0px;
  cursor: pointer;
  transition: all 0.3s;
}
.popular-place-tabs .popular-place-tab::before {
  display: block;
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  border-radius: 10px;
  background-color: #a78863;
  transition: all 0.3s;
}

.popular-place-tabs .popular-place-tab:hover::before,
.popular-place-tabs .popular-place-tab.active::before {
  width: 100%;
}
.popular-place-tabs .popular-place-tab:hover .tab-text,
.popular-place-tabs .popular-place-tab.active .tab-text {
  color: #a78863;
}
.popular-place-tabs .popular-place-tab:hover .tab-icon__wrapper img,
.popular-place-tabs .popular-place-tab.active .tab-icon__wrapper img {
  filter: invert(58%) sepia(15%) saturate(874%) hue-rotate(353deg)
    brightness(93%) contrast(90%);
}

.popular-place-tab .tab-icon__wrapper {
  width: 24px;
  height: 24px;
}
.popular-place-tab .tab-icon__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.popular-place-tab .tab-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #3d3d4e;

  white-space: nowrap;
}

.popular-place-box__wrapper .popular-place-tab-panel {
  position: relative;
}

.popular-place-tab-panel .tab-panel-map__wrapper {
  height: 472px;
}

.popular-place-tab-panel .tab-panel-map__wrapper .tab-panel-map {
}

.popular-place-tab-panel .modal__wrapper {
  position: absolute;
  top: 30px;
  right: 20px;

  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;

  width: 320px;
  min-width: 320px;
  max-width: 320px;
  z-index: 100;
}

.modal__wrapper .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}
.modal__wrapper .modal-header .blank {
  width: 32px;
  height: 32px;
}
.modal__wrapper .modal-header .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #333333;
}
.modal__wrapper .modal-header .arrow-icon__wrapper {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transform: translateY(15%) rotate(180deg);
  transition: all 0.3s;
}

#collapse-modal-tab-panel:checked ~ .modal-header .arrow-icon__wrapper {
  transform: translateY(0%);
}
#collapse-modal-tab-panel:checked ~ .modal-tab-panel {
  max-height: 0px;
}

.modal__wrapper .modal-header .arrow-icon__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal__wrapper .modal-tabs {
  display: flex;
  align-items: center;
  border-top: 0.5px solid #bdbdbd;
  border-bottom: 0.5px solid #bdbdbd;

  overflow: auto;
  scroll-snap-type: x mandatory;
}
.modal-tab {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #333333;
  cursor: pointer;
  padding: 8px 0px;

  width: 80px;
  min-width: 80px;
}
.modal-tab::before {
  display: block;
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  border-radius: 10px;
  background-color: #a78863;
  transition: all 0.3s;
}
.modal-tab:hover::before,
.modal-tab.active::before {
  width: 100%;
}

.modal__wrapper .modal-tab-panel {
  overflow: auto;
  padding: 0px 12px;

  transition: all 0.3s;
  max-height: 315.5px;
}

.modal-tab-panel .modal-tab-panel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  padding: 12px 0px;
  border-top: 0.5px solid #e0e0e0;
}
.modal-tab-panel .modal-tab-panel-item:first-of-type {
  border-top: unset;
}
.modal-tab-panel-item .item-info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.modal-tab-panel-item .item-info .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
}
.modal-tab-panel-item .item-info .address {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #828282;
}

.modal-tab-panel-item .item-location {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.modal-tab-panel-item .item-location .item-location-detail {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.modal-tab-panel-item .item-location .item-location-detail .img__wrapper {
  width: 18px;
  height: 18px;
}
.modal-tab-panel-item .item-location .item-location-detail .img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.modal-tab-panel-item .item-location .item-location-detail .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #4f4f4f;
  white-space: nowrap;
}
/* --------------- END TABS ---------------------- */

/* ------------ REGION LINK ----------- */
.regional-detail-page .regional-detail-link__wrapper {
  padding-bottom: 80px;
}

.regional-detail-link__wrapper .regional-link__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;

  max-height: 298px;
  margin-top: 30px;
}
.regional-link__row .regional-link__col {
  height: 100%;
}
.regional-link__col .regional-link-item {
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;
  height: 100%;
  overflow: hidden;
}
.regional-link__col .regional-link-item .header {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  background: #f6f3ef;
  border-radius: 6px 6px 0px 0px;
  padding: 16px 28px;
}
.regional-link__col .regional-link-item .content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  background-color: #ffffff;
  padding: 20px;
}
.regional-link-item .content .content-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.regional-link-item .content .content-item .content-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
}
.regional-link-item .content .content-item .content-item-distance {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.content-item-distance .distance-icon__wrapper {
  width: 18px;
  height: 18px;
}
.content-item-distance .distance-icon__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content-item-distance .distance-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

/* Custom */
.center-distance-item {
}

.center-distance-item .content .content-item .content-item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
}
.center-distance-item .content .content-item .distance-icon__wrapper {
  width: 32px;
  height: 32px;
}
.center-distance-item .content .content-item .distance-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.main-road-item {
}

.main-road-item .content {
  max-height: 242px;
  overflow-y: auto;
}

.nearby-county-item {
}

.nearby-county-item .content {
  max-height: 242px;
  overflow-y: auto;
  flex-direction: row !important;
  flex-wrap: wrap;
}
.nearby-county-item .content .content-item {
  width: 50%;
}

/* ------------ END REGION LINK ----------- */

/* ------------ PROPERTY TREND -------------- */
.regional-detail-page .property-trend__wrapper {
}

.property-trend__wrapper .property-trend-container {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 30px 0px 80px 0px;
}
.property-trend-container .property-trend-content {
  width: 40%;
}
.property-trend-content .select-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  margin-bottom: 20px;
}
.property-trend-content .select-container {
  position: relative;
}
.property-trend-content .select-container .select-header {
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 12px 5px;
  cursor: pointer;
}
.property-trend-content .select-container .select-header .select-header-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}
.property-trend-content
  .select-container
  .select-header
  .select-header-icon__wrapper {
  width: 32px;
  height: 32px;
}
.property-trend-content
  .select-container
  .select-header
  .select-header-icon__wrapper
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.property-trend-content .select-container .select-list-container {
}

.property-trend-content .info-box {
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 16px;

  margin-top: 36px;
}

.property-trend-content .info-box .info-left {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.property-trend-content .info-box .info-left::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5px;
  height: 100%;
  background-color: #bdbdbd;
}

.info-left .info-left-item {
}

.info-left .info-left-item .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.info-left .info-left-item .price {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #a78863;
}

.property-trend-content .info-box .info-right {
  width: 50%;
}

.info-right .info-right-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.info-right .info-right-item .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}
.info-right .info-right-item .rate {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info-right .info-right-item .rate p {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}
.info-right .info-right-item .rate .rate-icon__wrapper {
  width: 24px;
  height: 24px;
}
.info-right .info-right-item .rate .rate-icon__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.property-trend-container .property-trend-chart {
  width: 60%;
}
/* ------------ END PROPERTY TREND -------------- */

/* ----------- BANNER --------------- */
.regional-detail-page .regional-detail-banner {
  height: 140px;

  display: flex;
  align-items: center;
}
.regional-detail-page .regional-detail-banner .banner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 14px;
}

.banner__wrapper .banner-title {
  width: 50%;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.banner__wrapper .banner-form {
  width: 50%;
  display: flex;
  gap: 20px;
}
.banner__wrapper .banner-form .input-form {
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #828282;

  border: none;
  outline: none;
  background: #e0e0e0;
  border-radius: 6px;
  padding: 9px 12px 11px;
}
.banner__wrapper .banner-form .input-form::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #828282;
}
.banner__wrapper .banner-form .send-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;

  padding: 9px 32px 11px;
  background: #a78863;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
/* ---------- END BANNER --------------- */

/* ---------- PROPERTY IN AREA ---------- */
.regional-detail-page .property-in-area__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.property-in-area__wrapper .see-more.see-more-mobile {
  display: none;
}

.property-in-area__wrapper .title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property-in-area__wrapper .see-more {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #a78863;
}

.property-in-area__wrapper .see-more .see-more-img__wrapper {
  width: 32px;
  height: 32px;
}
.property-in-area__wrapper .see-more .see-more-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.property-in-area__wrapper .type-tabs {
  display: flex;
  align-items: center;
  column-gap: 24px;

  padding: 16px 0px 30px;
}
.property-in-area__wrapper .type-tabs .type-tab {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #828282;
  cursor: pointer;
}
.property-in-area__wrapper .type-tabs .type-tab:hover,
.property-in-area__wrapper .type-tabs .type-tab.active {
  font-weight: 500;
  color: #9f3430;
}
.property-in-area__wrapper .type-tabs .type-tab-divider {
  width: 0.5px;
  height: 20px;
  background-color: #bdbdbd;
}
.property-in-area-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  gap: 24px;
  scroll-snap-type: x mandatory;
}

/* ---------- END PROPERTY IN AREA ---------- */

/* -------- NEARBY AREA ------------ */
.regional-detail-page .nearby-area__wrapper {
}

.nearby-area__wrapper .city-town-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  padding-top: 30px;
  padding-bottom: 80px;
}

.city-town-list .city-town-item {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

/* Scale item */
.region-list__wrapper
  .region__wrapper:first-of-type
  .city-town-list
  .city-town-item:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.region-list__wrapper
  .region__wrapper:nth-of-type(2)
  .city-town-list
  .city-town-item:last-of-type {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.city-town-list .city-town-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.2;
  z-index: 1;
}

.city-town-list .city-town-item .city-town-item-img__wrapper {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.city-town-list .city-town-item .city-town-item-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-town-list .city-town-item:hover .city-town-item-img__wrapper {
  transform: scale(1.1);
}

.city-town-list .city-town-item .content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0px 8px;
  z-index: 10;
}
.city-town-list .city-town-item .content .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
/* -------- END NEARBY AREA ------------ */
