@media screen and (max-width: 800px) {
  .regional-detail-page {
  }

  .regional-detail-page .heading-title {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;

    padding: 5.333333334vw 3.733333334vw;
  }

  .regional-detail-page .title {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  /* ---------- OVERVIEW ------------- */
  .regional-detail-page .regional-detail-overview__wrapper {
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }

  .regional-detail-overview__wrapper .overview-container {
    flex-direction: column;
    column-gap: unset;
    row-gap: 5.333333334vw;

    padding-top: 5.333333334vw;
    padding-bottom: 10.66666667vw;
  }

  .regional-detail-overview__wrapper .overview-container .overview-left {
    width: 100%;
    max-height: 90.66666667vmin;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3.733333334vw;
  }

  .regional-detail-overview__wrapper .overview-container .overview-right {
    width: 100%;
    row-gap: 5.333333334vw;
  }

  .overview-container .overview-img__wrapper {
    border-radius: 1.6vw;
  }

  .overview-container .overview-img__wrapper.overview-img-main__wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .overview-container .overview-content__wrapper {
    height: unset;
    gap: 5.333333334vw;

    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;
    padding: 5.333333334vw 2.666666667vw;
  }

  .overview-content__wrapper .overview-content-item {
    gap: 2.133333334vw;
  }

  .overview-content-item .item-icon__wrapper {
    width: 6.4vw;
    height: 6.4vw;
  }

  .overview-content-item .item-info {
    row-gap: 1.066666667vw;
  }
  .overview-content-item .item-info .item-info-title {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .overview-content-item .item-info .item-info-desc {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .overview-see-more__wrapper {
    row-gap: 3.2vw;
  }

  .overview-content__wrapper .overview-see-more-item {
    gap: 3.733333334vw;
  }
  .overview-see-more-item .overview-see-more-title {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .overview-see-more-item .see-more-icon__wrapper {
    width: 1.12vw;
    height: 3.2vw;
  }

  .overview-container .overview-content__wrapper:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }

  /* ---------- END OVERVIEW ------------- */

  /* --------------- TABS ---------------------- */
  .regional-detail-page .popular-place__wrapper {
    padding: 0vw 3.733333334vw;
  }

  .regional-detail-page .popular-place__wrapper .popular-place-box__wrapper {
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;
    margin: 5.333333334vw 0vw 10.66666667vw 0vw;
  }

  .popular-place-box__wrapper .popular-place-tabs {
    column-gap: 5.333333334vw;
    padding: 0vw 3.733333334vw;
  }

  .popular-place-tabs .popular-place-tab {
    column-gap: 1.066666667vw;
    padding: 2.666666667vw 0vw;
  }
  .popular-place-tabs .popular-place-tab::before {
    height: 0.8vw;
  }

  .popular-place-tab .tab-icon__wrapper {
    width: 5.333333334vw;
    height: 5.333333334vw;
  }

  .popular-place-tab .tab-text {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .popular-place-tab-panel .tab-panel-map__wrapper {
    height: 73.6vmin;
  }

  .popular-place-tab-panel .tab-panel-map__wrapper .tab-panel-map {
  }

  .popular-place-tab-panel .modal__wrapper {
    position: relative;
    top: unset;
    right: unset;

    border-radius: 1.6vw;

    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .modal__wrapper .modal-header {
    display: none;
  }

  .modal__wrapper .modal-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: none;
    border-bottom: 0.133333334vw solid #bdbdbd;
  }
  .modal-tab {
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;

    padding: 4.266666667vw 0vw 2.133333334vw 0vw;
    width: 21.33333334vw;
    min-width: 21.33333334vw;
  }
  .modal-tab::before {
    height: 0.266666667vw;
    border-radius: 2.666666667vw;
  }

  .modal__wrapper .modal-tab-panel {
    padding: 5.466666667vw 2.666666667vw 6.4vw;
    max-height: 68.4vmin;
  }

  .modal-tab-panel .modal-tab-panel-item {
    gap: 4.266666667vw;
    padding: 2.133333334vw 0vw 3.2vw 0vw;
    border-top: 0.133333334vw solid #e0e0e0;
  }

  .modal-tab-panel-item .item-info {
    row-gap: 1.066666667vw;
  }
  .modal-tab-panel-item .item-info .name {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .modal-tab-panel-item .item-info .address {
    font-weight: 300;
    font-size: 3.733333334vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .modal-tab-panel-item .item-location {
    row-gap: 1.066666667vw;
  }
  .modal-tab-panel-item .item-location .item-location-detail {
    column-gap: 1.066666667vw;
  }
  .modal-tab-panel-item .item-location .item-location-detail .img__wrapper {
    width: 4.8vw;
    height: 4.8vw;
  }

  .modal-tab-panel-item .item-location .item-location-detail .text {
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  /* --------------- END TABS ---------------------- */

  /* ------------ REGION LINK ----------- */
  .regional-detail-page .regional-detail-link__wrapper {
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
    padding-bottom: 10.66666667vw;
  }

  .regional-detail-link__wrapper .regional-link__row {
    column-gap: 3.733333334vw;
    max-height: 69.86666667vmin;
    margin-top: 5.333333334vw;

    grid-auto-flow: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .regional-link__row .regional-link__col {
    height: 100%;
  }
  .regional-link__col .regional-link-item {
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;
    height: 100%;
    overflow: hidden;

    width: 76.53333334vw;
    scroll-snap-align: start;
  }
  .regional-link__col .regional-link-item .header {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    border-radius: 1.6vw 1.6vw 0vw 0vw;
    padding: 2.133333334vw;
  }
  .regional-link__col .regional-link-item .content {
    row-gap: 4.266666667vw;
    padding: 4.266666667vw 2.666666667vw;
  }
  .regional-link-item .content .content-item {
    gap: 1.6vw;
  }

  .regional-link-item .content .content-item .content-item-title {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .regional-link-item .content .content-item .content-item-distance {
    column-gap: 1.066666667vw;
  }
  .content-item-distance .distance-icon__wrapper {
    width: 4.8vw;
    height: 4.8vw;
  }

  .content-item-distance .distance-text {
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  /* Custom */
  .center-distance-item {
  }

  .center-distance-item .content .content-item .content-item-title {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .center-distance-item .content .content-item .distance-icon__wrapper {
    width: 6.4vw;
    height: 6.4vw;
  }
  .center-distance-item .content .content-item .distance-text {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }

  .main-road-item {
  }

  .main-road-item .content {
    max-height: 58.13333334vmin;
    overflow-y: auto;
  }
  /* ------------ END REGION LINK ----------- */

  /* ------------ PROPERTY TREND -------------- */
  .regional-detail-page .property-trend__wrapper {
    padding: 0vw 3.733333334vw;
  }

  .property-trend__wrapper .property-trend-container {
    flex-direction: column;
    gap: 5.333333334vw;
    padding: 5.333333334vw 0vw 10.66666667vw 0vw;
  }
  .property-trend-container .property-trend-content {
    width: 100%;
  }
  .property-trend-content .select-label {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    margin-bottom: 5.333333334vw;
  }
  .property-trend-content .select-container .select-header {
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;
    padding: 0.8vw 3.2vw 1.333333334vw;
  }
  .property-trend-content .select-container .select-header .select-header-text {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .property-trend-content
    .select-container
    .select-header
    .select-header-icon__wrapper {
    width: 8.533333334vw;
    height: 8.533333334vw;
  }

  .property-trend-content .select-container .select-list-container {
  }

  .property-trend-content .info-box {
    border: 0.133333334vw solid #bdbdbd;
    border-radius: 1.6vw;

    padding: 10.66666667vw 4.266666667vw 16vw;
    margin-top: 7.466666667vw;
  }

  .property-trend-content .info-box .info-left {
    gap: 4.266666667vw;
  }

  .property-trend-content .info-box .info-left::after {
    width: 0.133333334vw;
  }

  .info-left .info-left-item {
  }

  .info-left .info-left-item .title {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .info-left .info-left-item .price {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .property-trend-content .info-box .info-right {
    width: 50%;
  }

  .info-right .info-right-item {
    gap: 2.666666667vw;
  }
  .info-right .info-right-item .title {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .info-right .info-right-item .rate {
    gap: 2.133333334vw;
  }
  .info-right .info-right-item .rate p {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }
  .info-right .info-right-item .rate .rate-icon__wrapper {
    width: 6.4vw;
    height: 6.4vw;
  }

  .property-trend-container .property-trend-chart {
    width: 100%;
  }
  /* ------------ END PROPERTY TREND -------------- */

  /* ----------- BANNER --------------- */
  .regional-detail-page .regional-detail-banner {
    height: 70.4vmin;
  }
  .regional-detail-page .regional-detail-banner .banner__wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: unset;

    row-gap: 6.4vw;
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }

  .banner__wrapper .banner-title {
    width: 100%;
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }

  .banner__wrapper .banner-form {
    width: 100%;
    flex-direction: column;
    gap: 6.4vw;
  }
  .banner__wrapper .banner-form .input-form {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    border-radius: 1.6vw;
    padding: 2.4vw 3.2vw 2.933333334vw;
  }
  .banner__wrapper .banner-form .input-form::placeholder {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .banner__wrapper .banner-form .send-btn {
    font-weight: 600;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    padding: 2.4vw 8.533333334vw 2.933333334vw;
    border-radius: 1.6vw;
  }
  /* ---------- END BANNER --------------- */

  /* ---------- PROPERTY IN AREA ---------- */
  .regional-detail-page .property-in-area__wrapper {
    padding-top: 40px;
    padding-bottom: 45px;
  }

  .property-in-area__wrapper .see-more.see-more-mobile {
    display: flex;
  }

  .property-in-area__wrapper .see-more {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .property-in-area__wrapper .see-more .see-more-img__wrapper {
    width: 32px;
    height: 32px;
  }

  .property-in-area__wrapper .title__wrapper .see-more {
    display: none;
  }

  .property-in-area__wrapper .type-tabs {
    column-gap: 20px;
    padding: 20px 0vw;
  }
  .property-in-area__wrapper .type-tabs .type-tab {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.2px;
  }
  .property-in-area__wrapper .type-tabs .type-tab:hover,
  .property-in-area__wrapper .type-tabs .type-tab.active {
    font-weight: 500;
    color: #9f3430;
  }
  .property-in-area__wrapper .type-tabs .type-tab-divider {
    width: 0.5px;
    height: 16px;
  }

  .property-in-area-list {
    grid-template-columns: auto;
    overflow-x: auto;
    grid-auto-flow: column;
    column-gap: 3.733333334vw;
  }
  /* ---------- END PROPERTY IN AREA ---------- */

  /* -------- NEARBY AREA ------------ */
  .regional-detail-page .nearby-area__wrapper {
  }

  .nearby-area__wrapper .city-town-list {
    overflow-x: auto;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    gap: 3.733333334vw;
    padding: 5.333333334vw 0vw;
  }

  .city-town-list .city-town-item {
    border-radius: 1.6vw;
    scroll-snap-align: start;
    width: 65.333333334vw;
  }

  /* Scale item */
  .region-list__wrapper
    .region__wrapper:first-of-type
    .city-town-list
    .city-town-item:first-of-type {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
  }

  .region-list__wrapper
    .region__wrapper:nth-of-type(2)
    .city-town-list
    .city-town-item:last-of-type {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
  }

  .city-town-list .city-town-item .content {
    padding: 0vw 2.133333334vw;
  }

  .city-town-list .city-town-item .content .name {
    font-weight: 500;
    font-size: 4.266666667vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }
  /* -------- END NEARBY AREA ------------ */
}
