/* -------- BANNER --------- */
.price-reference-page {
}

.price-reference-page .banner__wrapper {
  background-image: url("./assets/images/priceReferenceBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Note */
  height: 332px;
}
/* Custom */
.price-reference-page .banner__wrapper .breadcrumb__wrapper a {
  color: #ffffff;
}

.banner__wrapper .banner-content__wrapper {
}

.banner__wrapper .banner-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* Note */
  padding-top: 60px;
}

.banner__wrapper .banner-content .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.banner-content .search-form__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.banner-content .search-form__wrapper .search-form {
  position: relative;
}

.banner-content .search-form .input__wrapper {
  width: 564px;
  display: flex;
  align-items: center;

  height: 40px;
  background: #ffffff;
  border-radius: 6px;
}
.search-form .input__wrapper .search-img__wrapper {
  height: 24px;
  width: 24px;

  margin-left: 12px;
}

.search-form .input__wrapper .search-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-form .input__wrapper .input-search {
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #828282;

  padding: 0px 12px;
  border: none;
  outline: none;
}
.search-form .input__wrapper .input-search::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #828282;
}

/* DropDown */
.banner-content .search-form .dropdown__wrapper {
  position: absolute;
  left: 0;
  top: 44px;
  width: 100%;
  z-index: 100;
}
.banner-content .search-form .dropdown__wrapper::before {
  position: absolute;
  left: 0;
  top: -4px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: transparent;
}

.search-form .dropdown__wrapper .dropdown-list {
  max-height: 220px;
  overflow-y: auto;

  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 10px 0px;
}
.search-form .dropdown__wrapper .dropdown-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #333333;

  height: 40px;
  padding: 0px 20px;
  cursor: pointer;
}
.search-form .dropdown__wrapper .dropdown-item:hover {
  background: #f6f3ef;
}

/* Find btn */
.search-form__wrapper .btn {
  height: 40px;
  background: #a78863;
  border-radius: 6px;

  padding: 7px 32px 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
  cursor: pointer;
}
/* ----- END BANNER -------- */

/* -------- PRICE TABLE AND LIST --------- */
.price-table__wrapper {
}
.price-table__wrapper .price-table-container {
  padding: 30px 0px 20px;
}

.price-table-container .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;
}
.price-table-container .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  padding: 10px 0px;
}

.price-table-container .price-table {
  padding-top: 30px;
}

.price-table .price-table-header {
  position: relative;
  display: flex;
  align-items: center;

  padding-bottom: 8px;
}
.price-table .price-table-header::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5px;
  width: 100%;
  background-color: #bdbdbd;
}
.price-table .price-table-header .header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #333333;
}
.price-table .price-table-header .header-district {
  flex: 2;
}
.price-table .price-table-header .header-average {
  flex: 1;
  text-align: right;
}
.price-table .price-table-header .header-fluctuation {
  flex: 1;
  text-align: right;
}

.price-table .price-table-list {
  padding-top: 12px;
}

.price-table .price-table-item {
  position: relative;
  display: flex;
  align-items: center;

  padding: 12px 0px;
}
.price-table .price-table-item::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5px;
  width: 100%;
  background-color: #bdbdbd;
}
.price-table .price-table-item .item-text {
  cursor: pointer;
}
.price-table .price-table-item .item-district {
  flex: 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #a78863;
}
.price-table .price-table-item .item-average {
  flex: 1;
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  text-align: right;
  letter-spacing: 0.2px;

  color: #4f4f4f;
}
.price-table .price-table-item .item-fluctuation {
  flex: 1;
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.price-table .item-fluctuation .fluctuation-img__wrapper {
  width: 16px;
  height: 16px;
}

.price-table .item-fluctuation .fluctuation-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* -------- END PRICE TABLE AND LIST --------- */

/* --- OUTSTANDING PROPERTIES | BAT DONG SAN NOI BAT */
.outstanding-property__wrapper {
}

.outstanding-property__wrapper .outstanding-property {
  padding: 50px 0px;
}

.outstanding-property .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #0d0c22;
}

.outstanding-property .outstanding-property-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  gap: 24px;

  padding-top: 30px;
}
/* --- END OUTSTANDING PROPERTIES | BAT DONG SAN NOI BAT */
