@media screen and (max-width: 800px) {
  /* -------- BANNER --------- */
  .price-reference-page {
  }

  .price-reference-page .banner__wrapper {
    /* Note */
    height: 65.6vw;
  }

  .banner__wrapper .banner-content__wrapper {
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }

  .banner__wrapper .banner-content {
    gap: 6.4vw;
    /* Note */
    padding-top: 8vw;
  }

  .banner__wrapper .banner-content .title {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
    color: #ffffff;
  }

  .banner-content .search-form__wrapper {
    display: flex;
    align-items: center;
    gap: 4.266666667vw;
    flex-wrap: wrap;
  }

  .banner-content .search-form__wrapper .search-form {
    flex: 1;
  }

  .banner-content .search-form .input__wrapper {
    width: unset;
    height: 10.66666667vw;
    border-radius: 1.6vw;
  }
  .search-form .input__wrapper .search-img__wrapper {
    height: 6.4vw;
    width: 6.4vw;
    margin-left: 3.2vw;
  }

  .search-form .input__wrapper .input-search {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    padding: 0vw 3.2vw;
  }
  .search-form .input__wrapper .input-search::placeholder {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  /* DropDown */
  .banner-content .search-form .dropdown__wrapper {
    position: absolute;
    left: 0;
    top: 11.73333334vw;
    width: 100%;
    /* Note */
    display: none;
  }
  .banner-content .search-form .dropdown__wrapper::before {
    position: absolute;
    left: 0;
    top: -1.066666667vw;
    content: "";
    display: block;
    width: 100%;
    height: 1.066666667vw;
    background-color: transparent;
  }

  .search-form .dropdown__wrapper .dropdown-list {
    max-height: 58.66666667vw;
    overflow-y: auto;

    background: #ffffff;
    box-shadow: 0.533333334vw 0.533333334vw 4vw rgba(0, 0, 0, 0.12);
    border-radius: 1.6vw;
    padding: 2.666666667vw 0vw;
  }
  .search-form .dropdown__wrapper .dropdown-item {
    font-weight: 400;
    font-size: 4.266666667vw;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.053333334vw;
    color: #333333;

    height: 10.66666667vw;
    padding: 0vw 5.333333334vw;
    cursor: pointer;
  }
  .search-form .dropdown__wrapper .dropdown-item:hover {
    background: #f6f3ef;
  }

  /* Find btn */
  .search-form__wrapper .btn {
    height: 10.66666667vw;
    border-radius: 1.6vw;

    padding: 2.133333334vw 3.466666667vw 2.4vw;
    white-space: nowrap;
    font-weight: 600;
    font-size: 4vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.053333334vw;
  }
  /* ----- END BANNER -------- */

  /* -------- PRICE TABLE AND LIST --------- */
  .price-table__wrapper {
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }
  .price-table__wrapper .price-table-container {
    padding: 8vw 0vw 0vw;
  }

  .price-table-container .title {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }
  .price-table-container .desc {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.053333334vw;

    padding: 3.2vw 0vw;
  }

  .price-table-container .price-table {
    padding-top: 5.333333334vw;
  }

  .price-table .price-table-header {
    padding-bottom: 4.266666667vw;
  }
  .price-table .price-table-header::after {
    height: 0.133333334vw;
  }

  .price-table .price-table-header .header-text {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .price-table .price-table-header .header-district {
    flex: 1;
  }

  .price-table .price-table-list {
    padding-top: 0vw;
  }

  .price-table .price-table-item {
    padding: 2.666666667vw 0vw;
  }
  .price-table .price-table-item::after {
    height: 0.133333334vw;
  }

  .price-table .price-table-item .item-district {
    flex: 1;
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .price-table .price-table-item .item-average {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  .price-table .price-table-item .item-fluctuation {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    gap: 1.066666667vw;
  }

  .price-table .item-fluctuation .fluctuation-img__wrapper {
    width: 4.266666667vw;
    height: 4.266666667vw;
  }

  /* -------- END PRICE TABLE AND LIST --------- */

  /* --- OUTSTANDING PROPERTIES | BAT DONG SAN NOI BAT */
  .price-reference-page .outstanding-property__wrapper {
    padding-left: 3.733333334vw;
    padding-right: 3.733333334vw;
  }

  .outstanding-property__wrapper .outstanding-property {
    padding: 13.33333334vw 0vw;
  }

  .outstanding-property .title {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
    color: #333333;
  }

  .outstanding-property .outstanding-property-list {
    scroll-snap-type: x mandatory;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    overflow-x: auto;
    gap: 3.733333334vw;

    padding-top: 8vw;
  }
  /* --- END OUTSTANDING PROPERTIES | BAT DONG SAN NOI BAT */

  .search-mobile__wrapper {
    /* Note */
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1000;
  }
  .search-mobile__wrapper .search-mobile-header {
    display: flex;
    align-items: center;

    height: 14.4vw;
    border-bottom: 0.133333334vw solid #bdbdbd;
  }
  .search-mobile-header .back {
    width: 10.66666667vw;
    height: 10.66666667vw;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .search-mobile-header .back .back-img__wrapper {
    width: 1.733333333vw;
    height: 4.266666667vw;
  }
  .search-mobile-header .back .back-img__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .search-mobile-header .input-search-mobile {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;

    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 3.733333334vw;
    height: 100%;
    border: none;
    outline: none;
  }
  .search-mobile-header .input-search-mobile::placeholder {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;
  }

  .search-mobile__wrapper .search-mobile-list {
    padding: 2.666666667vw 3.733333334vw;
  }
  .search-mobile-list .search-mobile-item {
    font-weight: 400;
    font-size: 4vw;
    line-height: 10.66666667vw;
    letter-spacing: 0.053333334vw;
    color: #4f4f4f;

    display: flex;
    align-items: center;

    cursor: pointer;
    height: 10.66666667vw;
    padding: 0vw 6.933333334vw;
  }
  .search-mobile-list .search-mobile-item:hover {
    background: #f6f3ef;
  }
}
