.regional-exploration-page {
}

.regional-exploration-page .banner__wrapper {
  height: 332px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: bottom !important;
}

.regional-exploration-page .banner__wrapper .banner-content__wrapper {
}

.banner-content__wrapper .banner-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-top: 85px;
}

.banner-content .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.banner-content .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

/* ------------ REGION LIST --------------- */
.regional-exploration-page .region-list__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 60px;

  padding-top: 30px;
  padding-bottom: 80px;
}

.region-list__wrapper .region__wrapper {
}

.region__wrapper .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;
}

.region__wrapper .city-town-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  padding: 30px 0px;
}

.city-town-list .city-town-item {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

/* Scale item */
.region-list__wrapper
  .region__wrapper:first-of-type
  .city-town-list
  .city-town-item:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.region-list__wrapper
  .region__wrapper:nth-of-type(2)
  .city-town-list
  .city-town-item:last-of-type {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.city-town-list .city-town-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.2;
  z-index: 1;
}

.city-town-list .city-town-item .city-town-item-img__wrapper {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.city-town-list .city-town-item .city-town-item-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-town-list .city-town-item:hover .city-town-item-img__wrapper {
  transform: scale(1.1);
}

.city-town-list .city-town-item .content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0px 8px;
  z-index: 10;
}
.city-town-list .city-town-item .content .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.region__wrapper .city-town-mini-list {
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: auto;
}

.city-town-mini-list .city-town-mini-item {
  background: #f2f2f2;
  padding: 5px 18px 7px;
  border-radius: 20px;
  cursor: pointer;
}

.city-town-mini-list .city-town-mini-item .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #4f4f4f;
  white-space: nowrap;
}

/* Custom keen slider item */
.city-town-mini-list .city-town-mini-item.keen-slider__slide {
  overflow: unset;
  min-width: unset !important;
  max-width: unset !important;
}
.navigation-wrapper {
  position: relative;
}

/* .dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
} */

.arrow {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  z-index: 1000;
}

.arrow--left {
  left: -1px;
  right: auto;
  fill: "#fff";
  background-image: url("./assets/icons/arrow-left-slider-thin.png");
}

.arrow--right {
  left: auto;
  right: -1px;
  background-image: url("./assets/icons/arrow-right-slider-thin.png");
}

.arrow--disabled.arrow--left {
  background-image: unset;
  z-index: 1;
  background-color: unset;
}

.arrow--disabled.arrow--right {
  background-image: unset;
  z-index: 1;
  background-color: unset;
}

/* ------------ END REGION LIST --------------- */
