@media screen and (max-width: 800px) {
  .regional-exploration-page {
  }

  .regional-exploration-page .banner__wrapper {
    height: 65.6vw;
  }

  .regional-exploration-page .banner__wrapper .banner-content__wrapper {
    padding: 0vw 3.733333334vw;
  }

  .banner-content__wrapper .banner-content {
    gap: 3.2vw;
    padding-top: 9.6vw;
  }

  .banner-content .title {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;
  }

  .banner-content .desc {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  /* ------------ REGION LIST --------------- */
  .regional-exploration-page .region-list__wrapper {
    row-gap: 11.2vw;
    padding: 6.933333334vw 3.733333334vw 13.86666667vw;
  }

  .region-list__wrapper .region__wrapper {
  }

  .region__wrapper .title {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }

  .region__wrapper .city-town-list {
    overflow-x: auto;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    gap: 3.733333334vw;
    padding: 5.333333334vw 0vw;
  }

  .city-town-list .city-town-item {
    border-radius: 1.6vw;
    scroll-snap-align: start;
    width: 65.333333334vw;
  }

  /* Scale item */
  .region-list__wrapper
    .region__wrapper:first-of-type
    .city-town-list
    .city-town-item:first-of-type {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
  }

  .region-list__wrapper
    .region__wrapper:nth-of-type(2)
    .city-town-list
    .city-town-item:last-of-type {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
  }

  .city-town-list .city-town-item .content {
    padding: 0vw 2.133333334vw;
  }

  .city-town-list .city-town-item .content .name {
    font-weight: 500;
    font-size: 4.266666667vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }

  .region__wrapper .city-town-mini-list {
    gap: 2.133333334vw;
  }

  .city-town-mini-list .city-town-mini-item {
    padding: 1.333333334vw 4.8vw 1.866666667vw;
    border-radius: 5.333333334vw;
  }

  .city-town-mini-list .city-town-mini-item .name {
    font-weight: 400;
    font-size: 3.733333334vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;
  }

  /* Custom keen slider */
  .arrow {
    display: none;
  }

  /* ------------ END REGION LIST --------------- */
}
