.purchase-process-page {
}

.purchase-process-page .process__wrapper {
}

.process__wrapper .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;

  margin-top: 18px;
}

/* ======== STEP WRAPPER ============ */
.process__wrapper .process-step__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  row-gap: 75px;

  padding-top: 60px;
  padding-bottom: 50px;
}
.process-step__wrapper .step-card__wrapper {
  position: relative;
}

/* After = Line */
.process-step__wrapper .step-card__wrapper::after {
  content: "";
  border-bottom: 1px solid #caa67b;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 50px;
}
/* Before = Dot */
.process-step__wrapper .step-card__wrapper:nth-of-type(-n + 4)::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #caa67b;
  transform: translate(-50%, -50%);
}
.process-step__wrapper .step-card__wrapper:nth-of-type(n + 4)::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #caa67b;
  transform: translate(-50%, -50%);
}

.process-step__wrapper .step-card__wrapper:first-of-type::before,
.process-step__wrapper .step-card__wrapper:last-of-type::before,
.process-step__wrapper .step-card__wrapper:nth-of-type(4)::before,
.process-step__wrapper .step-card__wrapper:last-of-type::after,
.process-step__wrapper .step-card__wrapper:nth-of-type(4)::after {
  display: none;
}

/* Custom element 4th and last one*/
.process-step__wrapper .step-card__wrapper:nth-of-type(4)::after {
  display: block;
  background-color: #caa67b;
  top: 100%;
  left: 50%;
  transform: unset;
  width: 1px;
  height: 75px;
}
.process-step__wrapper .step-card__wrapper:last-of-type::before {
  display: block;
  left: 50%;
  top: 0;
}

.process-step__wrapper .step-card {
  padding: 12px 12px 16px;
  background: #ffffff;

  border: 0.5px solid #a78863;
  box-sizing: border-box;
  border-radius: 6px;

  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.process-step__wrapper .step-card .step-card-img__wrapper {
  width: 60px;
  height: 60px;
}
.process-step__wrapper .step-card .step-card-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.process-step__wrapper .step-card .step-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.process-step__wrapper .step-card .step-card-info .step-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.process-step__wrapper .step-card .step-card-info .desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}
/* ======== END STEP WRAPPER ============ */

.process__wrapper.content-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.process__wrapper .content-list .list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-list .list-item .list-item-img__wrapper {
  width: 8px;
  height: 8px;
}

.content-list .list-item .list-item-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-list .list-item .list-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.process__wrapper .note {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  font-style: italic;
  padding-top: 50px;
}

.process__wrapper .divider {
  width: 100%;
  height: 0.5px;
  background-color: #bdbdbd;
  margin: 40px 0px;
}

/* DIVIDER MOBILE*/
.purchase-process-page .divider-mobile {
  display: none;
}
/* END DIVIDER MOBILE */

/* ------- SEE MORE ------- */
.purchase-process-page .see-more__wrapper {
}
.see-more__wrapper .see-more-container {
  padding-bottom: 80px;
}
.see-more-container .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;

  padding-bottom: 30px;
}
.see-more-container .see-more-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.see-more-container .see-more-list .see-more-item {
  display: flex;
  align-items: center;
  gap: 11px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.see-more-item .see-more-img__wrapper {
  width: 5px;
  height: 10px;
}

.see-more-item .see-more-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ------- END SEE MORE ------- */
