@media screen and (max-width: 800px) {
  .purchase-process-page {
  }

  .purchase-process-page .process__wrapper {
    padding: 0vw 3.733333334vw;
  }

  .process__wrapper .title {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;

    margin-top: 4.8vw;
  }
  /* /////////////////////// */
  /* ======== STEP WRAPPER ============ */
  .process__wrapper .process-step__wrapper {
    grid-template-columns: 1fr;
    column-gap: unset;
    row-gap: 6.4vw;

    padding-top: 5.333333334vw;
    padding-bottom: 8vw;
  }
  .process-step__wrapper .step-card__wrapper {
    position: relative;
  }

  /* After = Line */
  .process-step__wrapper .step-card__wrapper::after {
    content: "";
    border: unset;
    top: 100%;
    left: 50%;
    background-color: #caa67b;
    transform: unset;
    transform: translateX(-50%);
    width: 0.266666667vw;
    height: 6.4vw;
  }
  /* Before = Dot */
  .process-step__wrapper .step-card__wrapper:nth-of-type(-n + 4)::before {
    top: 0;
    left: 50%;
    width: 2.133333334vw;
    height: 2.133333334vw;
  }
  .process-step__wrapper .step-card__wrapper:nth-of-type(n + 4)::before {
    top: 0;
    left: 50%;
    width: 2.133333334vw;
    height: 2.133333334vw;
  }

  .process-step__wrapper .step-card__wrapper:nth-of-type(4)::before {
    display: block;
  }

  .process-step__wrapper .step-card {
    padding: 3.733333334vw 3.733333334vw 4.266666667vw;
    border: 0.133333334vw solid #a78863;
    box-sizing: border-box;
    border-radius: 1.6vw;
    gap: 3.2vw;
  }
  .process-step__wrapper .step-card .step-card-img__wrapper {
    width: 16vw;
    height: 16vw;
  }

  .process-step__wrapper .step-card .step-card-info {
    gap: 1.066666667vw;
  }

  .process-step__wrapper .step-card .step-card-info .step-name {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .process-step__wrapper .step-card .step-card-info .desc {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }
  /* ======== END STEP WRAPPER ============ */

  .process__wrapper .content-list {
    gap: 3.2vw;
  }

  .process__wrapper .content-list .list-item {
    gap: 2.666666667vw;
  }

  .content-list .list-item .list-item-img__wrapper {
    width: 2.133333334vw;
    height: 2.133333334vw;
  }

  .content-list .list-item .list-item-text {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .process__wrapper .note {
    font-weight: 400;
    font-size: 4vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;

    padding-top: 5.333333334vw;
  }

  .process__wrapper .divider {
    width: 100%;
    height: 0.133333334vw;
    background-color: #f2f2f2;
    margin: 13.33333334vw 0vw;
    display: none;
  }

  /* DIVIDER MOBILE*/
  .purchase-process-page .divider-mobile {
    display: block;
    width: 100%;
    height: 2.666666667vw;
    background-color: #f2f2f2;

    margin: 13.33333334vw 0vw;
  }
  /* END DIVIDER MOBILE */

  /* ------- SEE MORE ------- */
  .purchase-process-page .see-more__wrapper {
    padding: 0vw 3.733333334vw;
  }
  .see-more__wrapper .see-more-container {
    padding-bottom: 13.33333334vw;
  }
  .see-more-container .title {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;

    padding-bottom: 8vw;
  }
  .see-more-container .see-more-list {
    gap: 5.333333334vw;
  }

  .see-more-container .see-more-list .see-more-item {
    gap: 2.933333334vw;

    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .see-more-item .see-more-img__wrapper {
    width: 1.333333334vw;
    height: 2.666666667vw;
  }
  /* ------- END SEE MORE ------- */
}
