.post_coll__wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
}

.post_banner {
    width: 100%;
    height: 203px;
    background-color: #F6F3EF;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    position: absolute;
    z-index: 1
}

.post_banner .title {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.2px;
}

.info_basic_box {
    position: relative;
    z-index: 2;
    top: 120px;
    width: 767px;
    height: auto;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 75px;
    padding-right: 75px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid #BDBDBD;
}

.info_basic_box .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 0.2px;
    color: #A78863;
}

.info_basic_box .row_selection {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.info_basic_box .row_selection .button_sell {
    width: 139px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A78863;
    border-radius: 6px;
    border-style: solid;
    border-color: #A78863;
    border-width: 1px;
}

.info_basic_box .row_selection .button_sell .text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.info_basic_box .row_selection .button_rent {
    width: 139px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 6px;
    border-style: solid;
    border-color: #BDBDBD;
    border-width: 1px;
    margin-left: 18px;
}

.info_basic_box .row_selection .button_rent .text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #4F4F4F;
}

.info_basic_box .row_select_title {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.info_basic_box .row_select_title .title_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 0.2px;
}

.info_basic_box .row_select_title .val {
    color: red;
    font-size: 16px;
    margin-left: 3px;
}

.info_basic_box .custom_select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 11px;
    background: #ffffff;
    border-radius: 6px;
    margin: 16px 0px;
    width: 100%;
    border: 1px solid #BDBDBD;
}

.info_basic_box .custom_select .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #828282;
    background-color: none;
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.info_basic_box .custom_select>img {
    width: 15px;
    height: 8px;
}

.info_basic_box .row_select_2_title {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-top: 20px; */
}

/*  tỉnh - thành phố */
.info_basic_box .row_select_2_title .select_city {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.info_basic_box .row_select_2_title .select_city .row_select_city {
    display: flex;
    flex-direction: row;
}

.info_basic_box .row_select_2_title .select_city .row_select_city .title_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 0.2px;
}

.info_basic_box .row_select_2_title .select_city .row_select_city .val {
    color: red;
    font-size: 16px;
    margin-left: 3px;
}

/* Quận huyện */
.info_basic_box .row_select_2_title .select_district {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-left: 4%;
}

.info_basic_box .row_select_2_title .select_district .row_select_district {
    display: flex;
    flex-direction: row;
}

.info_basic_box .row_select_2_title .select_district .row_select_district .title_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 0.2px;
}

.info_basic_box .row_select_2_title .select_district .row_select_district .val {
    color: red;
    font-size: 16px;
    margin-left: 3px;
}

.info_basic_box .row_select_title {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.info_basic_box .custom_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 11px;
    background: #ffffff;
    border-radius: 6px;
    margin-top: 16px;
    width: 100%;
    border: 1px solid #BDBDBD;
}

.info_basic_box .custom_input>input {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #828282;
    background-color: none;
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.info_box {
    position: relative;
    z-index: 2;
    top: 120px;
    width: 767px;
    height: auto;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 75px;
    padding-right: 75px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    border-radius: 6px;
    border: 1px solid #BDBDBD;
}

.info_box .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 0.2px;
    color: #A78863;
}

.info_box .row_select_title {
    display: flex;
    flex-direction: row;
    margin-top: 20px
}

.info_box .row_select_title .title_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 0.2px;
}

.info_box .row_select_title .val {
    color: red;
    font-size: 16px;
    margin-left: 3px;
}

.info_box .custom_title {
    display: flex;
    padding: 10px 12px 11px;
    background: #ffffff;
    border-radius: 6px;
    margin-top: 16px;
    width: 100%;
    border: 1px solid #BDBDBD;
    height: 60px;
}

.info_box .custom_title>input {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #828282;
    background-color: none;
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 60%;
}

.info_box .custom_desc {
    display: flex;
    padding: 10px 12px 11px;
    background: #ffffff;
    border-radius: 6px;
    margin-top: 16px;
    width: 100%;
    border: 1px solid #BDBDBD;
    height: 190px;
}

.info_box .custom_desc>input {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #828282;
    background-color: none;
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 20%;
    max-lines: 2;
}

.info_box .custom_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 11px;
    background: #ffffff;
    border-radius: 6px;
    margin-top: 16px;
    width: 100%;
    border: 1px solid #BDBDBD;
}

.info_box .custom_input>input {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #828282;
    background-color: none;
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.info_box .row_select_city {
    display: flex;
    flex-direction: row;
}

.info_box .row_select_city .direction_house {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.info_box .row_select_city .direction_house .row_select_title {
    display: flex;
    flex-direction: row;
}

.info_box .custom_select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 11px;
    background: #ffffff;
    border-radius: 6px;
    margin: 16px 0px;
    width: 100%;
    border: 1px solid #BDBDBD;
}

.info_box .custom_select .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #828282;
    background-color: none;
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.info_basic_box .custom_select>img {
    width: 15px;
    height: 8px;
}

.info_box .row_select_city .direction_house .title_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 0.2px;
    margin-top: 20px
}

.info_box .row_select_city .nummer_floor {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-left: 4%
}

.info_box .row_select_city .nummer_floor .row_select_title {
    display: flex;
    flex-direction: row;
    margin-top: 20px
}

.info_box .row_select_city .direction_house .row_select_title .title_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 0.2px;
    margin-top: 0px
}

.info_box .select_furniture {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 11px;
    background: #ffffff;
    border-radius: 6px;
    margin: 16px 0px;
    width: 100%;
    border: 1px solid #BDBDBD;
}

.info_box .select_furniture .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #828282;
    background-color: none;
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.info_box .select_furniture>img {
    width: 15px;
    height: 8px;
}

.info_box .desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    letter-spacing: 0.2px;
}

.info_box .frames_image {
    width: 148px;
    height: 148px;
    border-radius: 6px;
    border-width: 1px;
    border-color: #BDBDBD;
    border-style: dashed;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
}

.info_box .frames_image>img {
    width: 47px;
    height: 34px;
}

.info_box .frames_image .title {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #6E6D7A;
    margin-top: 16px;
}

.post_news {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
}

.post_news .button_post {
    position: relative;
    z-index: 2;
    top: 120px;
    width: 273px;
    height: 40px;
    border-radius: 6px;
    border-style: solid;
    border-width: 0px;
    margin-top: 37px;
    background-color: #A78863;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
}

.post_news .button_post .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: white;
}