@media screen and (max-width: 800px) {
    .post_coll__wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 0vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #E5E5E5;
    }
    
    .post_banner {
        width: 100%;
        height: 19vw;
        background-color: #F6F3EF;
        justify-content: flex-start;
        display: flex;
        padding-top: 4vw;
        position: absolute;
        z-index: 1;
        padding-left: 3.7vw;
    }
    
    .post_banner .title {
        font-size: 5.9vw;
        font-weight: 500;
        line-height: 8.8vw;
        letter-spacing: 0.1vw;
    }
    
    .info_basic_box {
        position: relative;
        z-index: 2;
        top: 19vw;
        width: 100%;
        height: auto;
        background-color: white;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 5.3vw;
        padding-bottom: 11vw;
        padding-left: 3.7vw;
        padding-right: 3.7vw;
        box-shadow: 0 1.1vw 1.1vw 0 rgba(0, 0, 0, 0), 0 1.6vw 2.7vw 0 rgba(0, 0, 0, 0);
        border-radius: 0vw;
        border: 0vw solid #BDBDBD;
    }
    
    .info_basic_box .title {
        font-size: 5.3vw;
        font-weight: 500;
        line-height: 8vw;
        letter-spacing: 0.1vw;
        color: #A78863;
    }
    
    .info_basic_box .row_selection {
        display: flex;
        flex-direction: row;
        margin-top: 8vw;
    }
    
    .info_basic_box .row_selection .button_sell {
        width: 48%;
        height: 12vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A78863;
        border-radius: 1.6vw;
        border-style: solid;
        border-color: #A78863;
        border-width: 0vw;
    }
    
    .info_basic_box .row_selection .button_sell .text {
        font-size: 4vw;
        font-weight: 600;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        color: #ffffff;
    }
    
    .info_basic_box .row_selection .button_rent {
        width: 48%;
        height: 12vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 1.6vw;
        border-style: solid;
        border-color: #BDBDBD;
        border-width: 0.1vw;
        margin-left: 3.5vw;
    }
    
    .info_basic_box .row_selection .button_rent .text {
        font-size: 4vw;
        font-weight: 600;
        line-height: 6vw;
        letter-spacing: 0.1vw;
        color: #4F4F4F;
    }
    
    .info_basic_box .row_select_title {
        display: flex;
        flex-direction: row;
        margin-top: 5.3vw;
    }
    
    .info_basic_box .row_select_title .title_text {
        font-size: 4.3vw;
        font-weight: 500;
        line-height: 6.8vw;
        letter-spacing: 0.1vw;
    }
    
    .info_basic_box .row_select_title .val {
        color: red;
        font-size: 4.3vw;
        margin-left: 0.8vw;
    }
    
    .info_basic_box .custom_select {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.7vw 3.2vw 2.9vw;
        background: #ffffff;
        border-radius: 1.6vw;
        margin-top: 4.3vw;
        width: 100%;
        height: 12vw;
        border: 0.1vw solid #BDBDBD;
    }
    
    .info_basic_box .custom_select .text {
        font-weight: 300;
        font-size: 4.3vw;
        line-height: 6.4vw;
        letter-spacing: 0.1vw;
        color: #828282;
        background-color: none;
        background: none;
        outline: none;
        border: none;
        width: 100%;
    }
    
    .info_basic_box .custom_select>img {
        width: 3.2vw;
        height: 1.1vw;
    }
    
    .info_basic_box .row_select_2_title {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-top: 5.3vw; */
    }
    
    /*  tỉnh - thành phố */
    .info_basic_box .row_select_2_title .select_city {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .info_basic_box .row_select_2_title .select_city .row_select_city {
        display: flex;
        flex-direction: row;
    }
    
    .info_basic_box .row_select_2_title .select_city .row_select_city .title_text {
        font-size: 4.3vw;
        font-weight: 500;
        line-height: 6.8vw;
        letter-spacing: 0.1vw;
    }
    
    .info_basic_box .row_select_2_title .select_city .row_select_city .val {
        color: red;
        font-size: 4.3vw;
        margin-left: 0vw;
    }
    
    /* Quận huyện */
    .info_basic_box .row_select_2_title .select_district {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    
    .info_basic_box .row_select_2_title .select_district .row_select_district {
        display: flex;
        flex-direction: row;
    }
    
    .info_basic_box .row_select_2_title .select_district .row_select_district .title_text {
        font-size: 4.3vw;
        font-weight: 500;
        line-height: 6.8vw;
        letter-spacing: 0.1vw;
    }
    
    .info_basic_box .row_select_2_title .select_district .row_select_district .val {
        color: red;
        font-size: 4.3vw;
        margin-left: 0.8vw;
    }
    
    .info_basic_box .row_select_title {
        display: flex;
        flex-direction: row;
        margin-top: 5.3vw;
    }
    
    .info_basic_box .custom_input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.7vw 3.2vw 2.9vw;
        background: #ffffff;
        border-radius: 1.6vw;
        margin-top: 164.3vwpx;
        width: 100%;
        border: 0.1vw solid #BDBDBD;
    }
    
    .info_basic_box .custom_input>input {
        font-weight: 300;
        font-size: 4.3vw;
        line-height: 6.4vw;
        letter-spacing: 0.1vw;
        color: #828282;
        background-color: none;
        background: none;
        outline: none;
        border: none;
        width: 100%;
    }
    
    .info_box {
        position: relative;
        z-index: 2;
        top: 19vw;
        width: 100%;
        height: auto;
        background-color: white;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 5.3vw;
        padding-bottom: 11vw;
        padding-left: 3.7vw;
        padding-right: 3.7vw;
        box-shadow: 0 1.1vw 1.1vw 0 rgba(0, 0, 0, 0), 0 1.6vw 2.7vw 0 rgba(0, 0, 0, 0);
        border-radius: 0vw;
        border: 0vw solid #BDBDBD;
        margin-top: 3vw;
    }
    
    .info_box .title {
        font-size: 6.4vw;
        font-weight: 500;
        line-height: 9vw;
        letter-spacing: 0.1vw;
        color: #A78863;
    }
    
    .info_box .row_select_title {
        display: flex;
        flex-direction: row;
        margin-top: 5.3vw
    }
    
    .info_box .row_select_title .title_text {
        font-size: 4.3vw;
        font-weight: 500;
        line-height: 6.8vw;
        letter-spacing: 0.1vw;
    }
    
    .info_box .row_select_title .val {
        color: red;
        font-size: 4.3vw;
        margin-left: 0.8vw;
    }
    
    .info_box .custom_title {
        display: flex;
        padding: 2.7vw 3.2vw 2.9vw;
        background: #ffffff;
        border-radius: 1.6vw;
        margin-top: 4.3vw;
        width: 100%;
        border: 0.1vw solid #BDBDBD;
        height: 18vw;
    }
    
    .info_box .custom_title > input {
        font-weight: 300;
        font-size: 4.3vw;
        line-height: 6.4vw;
        letter-spacing: 0.1vw;
        color: #828282;
        background-color: none;
        background: none;
        outline: none;
        border: none;
        width: 100%;
        height: 60%;
    }
    
    .info_box .custom_desc {
        display: flex;
        padding: 2.7vw 3.2vw 2.9vw;
        background: #ffffff;
        border-radius: 1.6vw;
        margin-top: 4.3vw;
        width: 100%;
        border: 0.1vw solid #BDBDBD;
        height: 190px;
    }
    
    .info_box .custom_desc > input {
        font-weight: 300;
        font-size: 4.3vw;
        line-height: 6.4vw;
        letter-spacing: 0.1px;
        color: #828282;
        background-color: none;
        background: none;
        outline: none;
        border: none;
        width: 100%;
        height: 40%;
        max-lines: 2;
    }
    
    .info_box .custom_input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.7vw 3.2vw 2.9vw;
        background: #ffffff;
        border-radius: 1.6vw;
        margin-top: 4.3vw;
        width: 100%;
        border: 0.1vw solid #BDBDBD;
    }
    
    .info_box .custom_input>input {
        font-weight: 300;
        font-size: 4.3vw;
        line-height: 6.4vw;
        letter-spacing: 0.1px;
        color: #828282;
        background-color: none;
        background: none;
        outline: none;
        border: none;
        width: 100%;
    }
    
    .info_box .row_select_city {
        display: flex;
        flex-direction: column;
    }
     
    .info_box .row_select_city .direction_house {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .info_box .row_select_city .direction_house .row_select_title {
        display: flex;
        flex-direction: row;
    }
    .info_box .custom_select {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.7vw 3.2vw 2.9vw;
        background: #ffffff;
        border-radius: 1.6vw;
        margin: 4.3vw 0px;
        width: 100%;
        border: 0.1vw solid #BDBDBD;
    }
    
    .info_box .custom_select .text {
        font-weight: 300;
        font-size: 4.3vw;
        line-height: 6.4vw;
        letter-spacing: 0.1px;
        color: #828282;
        background-color: none;
        background: none;
        outline: none;
        border: none;
        width: 100%;
    }
    
    .info_basic_box .custom_select>img {
        width: 3.2vw;
        height: 1.1vw;
    }
    
    .info_box .row_select_city .direction_house .title_text {
        font-size: 4.3vw;
        font-weight: 500;
        line-height: 6.8vw;
        letter-spacing: 0.1vw;
        margin-top: 5.3vw
    }
    
    .info_box .row_select_city .nummer_floor {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0%
    }
    
    .info_box .row_select_city .nummer_floor .row_select_title {
        display: flex;
        flex-direction: row;
        margin-top: 5.3vw
    }
    
    .info_box .row_select_city .direction_house .row_select_title .title_text {
        font-size: 4.3vw;
        font-weight: 500;
        line-height: 6.8vw;
        letter-spacing: 0.1vw;
        margin-top: 0px
    }
    
    .info_box .select_furniture {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.7vw 3.2vw 2.9vw;
        background: #ffffff;
        border-radius: 1.6vw;
        margin: 4.3vw 0px;
        width: 100%;
        border: 0.1vw solid #BDBDBD;
    }
    
    .info_box .select_furniture .text {
        font-weight: 300;
        font-size: 4.3vw;
        line-height: 6.4vw;
        letter-spacing: 0.1vw;
        color: #828282;
        background-color: none;
        background: none;
        outline: none;
        border: none;
        width: 100%;
    }
    
    .info_box .select_furniture >img {
        width: 3.2vw;
        height: 1.1vw;
    }
    
    .info_box .desc {
        font-size: 4.3vw;
        font-weight: 300;
        line-height: 6.8vw;
        letter-spacing: 0.1vw;
    }
    
    .info_box .frames_image {
        width: 29vw;
        height: 29vw;
        border-radius: 1.6vw;
        border-width: 0.1vw;
        border-color: #BDBDBD;
        border-style: dashed;
        margin-top: 5.3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 2.1vw;
    }
    
    .info_box .frames_image >img{
        width: 13vw;
        height: 9.1vw;
    }
    
    .info_box .frames_image .title {
        font-size: 0vw;
        font-weight: 400;
        line-height: 0vw;
        letter-spacing: 0vw;
        color: #6E6D7A;
        margin-top: 0vw;
    }

    .post_news {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        display: flex;
    }
    
    .post_news .button_post {
        position: relative;
        z-index: 2;
        top: 22vw;
        width: 100%;
        height: 12vw;
        border-radius: 1.6vw;
        border-style: solid;
        border-width: 0px;
        margin-top: 0vw;
        margin-left: 3.7vw;
        margin-right: 3.7vw;
        background-color: #A78863;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        display: flex;
        margin-bottom: 70vw;
    }
    
    .post_news .button_post .title {
        font-size: 4.3vw;
        font-weight: 600;
        line-height: 6.4vw;
        letter-spacing: 0.1vw;
        color: white;
    }
    
}