.rental-procedure-page {
}

.rental-procedure-page .procedure__wrapper {
}

.procedure__wrapper .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;

  margin-top: 18px;
}

.procedure__wrapper .desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  margin: 20px 0px;
}

.procedure__wrapper .rental-card-group__wrapper {
}

.rental-card-group__wrapper .rental-card-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  column-gap: 48px;
}

.rental-card__wrapper {
}

.rental-card__wrapper .rental-card {
  height: 100%;
}

.rental-card .rental-card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;

  background: #a78863;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 6px 6px 0px 0px;
  padding: 10px;
}

.rental-card .rental-card-content {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 0px 0px 6px 6px;
  padding: 24px 24px 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  height: calc(100% - 50px);
}

.rental-card-content .normal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.rental-card-content .big-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.rental-card-content .see-more-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #a78863;

  display: flex;
  align-items: center;
  gap: 11px;
}
.rental-card-content .see-more-btn .see-more-btn-img__wrapper {
  width: 5px;
  height: 10px;
}
.rental-card-content .see-more-btn .see-more-btn-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rental-card-content .content-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rental-card-content .content-list .list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-list .list-item .list-item-img__wrapper {
  width: 8px;
  height: 8px;
}

.content-list .list-item .list-item-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-list .list-item .list-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.procedure__wrapper .note {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #4f4f4f;

  font-style: italic;
  padding-top: 30px;
}

.procedure__wrapper .divider {
  width: 100%;
  height: 0.5px;
  background-color: #bdbdbd;
  margin: 40px 0px;
}

/* DIVIDER MOBILE*/
.rental-procedure-page .divider-mobile {
  display: none;
}
/* END DIVIDER MOBILE */

/* ------- SEE MORE ------- */
.see-more__wrapper {
}
.see-more__wrapper .see-more-container {
  padding-bottom: 80px;
}
.see-more-container .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;

  padding-bottom: 30px;
}
.see-more-container .see-more-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.see-more-container .see-more-list .see-more-item {
  display: flex;
  align-items: center;
  gap: 11px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.see-more-item .see-more-img__wrapper {
  width: 5px;
  height: 10px;
}

.see-more-item .see-more-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ------- END SEE MORE ------- */
