@media screen and (max-width: 800px) {
  .rental-procedure-page {
  }

  .rental-procedure-page .procedure__wrapper {
    padding: 0vw 3.733333334vw;
  }

  .procedure__wrapper .title {
    font-weight: 500;
    font-size: 5.866666667vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;

    margin-top: 4.8vw;
  }

  .procedure__wrapper .desc {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    margin: 5.333333334vw 0vw;
  }

  .procedure__wrapper .rental-card-group__wrapper {
  }

  .rental-card-group__wrapper .rental-card-group {
    grid-auto-rows: unset;

    grid-template-columns: auto;
    column-gap: unset;
    row-gap: 8vw;
  }

  .rental-card__wrapper {
  }

  .rental-card__wrapper .rental-card {
    height: 100%;
  }

  .rental-card .rental-card-header {
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;

    border: 0.266666667vw solid #bdbdbd;
    border-radius: 1.6vw 1.6vw 0vw 0vw;
    padding: 2.666666667vw;
  }

  .rental-card .rental-card-content {
    border: 0.266666667vw solid #bdbdbd;
    border-radius: 0vw 0vw 1.6vw 1.6vw;
    padding: 5.333333334vw 3.733333334vw 8vw;

    gap: 5.333333334vw;
    height: unset;
  }

  .rental-card-content .normal-text {
    font-weight: 500;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .rental-card-content .big-text {
    font-weight: 500;
    font-size: 4.266666667vw;
    line-height: 140%;
    letter-spacing: 0.053333334vw;
  }

  .rental-card-content .see-more-btn {
    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;

    gap: 2.933333334vw;
  }
  .rental-card-content .see-more-btn .see-more-btn-img__wrapper {
    width: 1.333333334vw;
    height: 2.666666667vw;
  }

  .rental-card-content .content-list {
    gap: 3.2vw;
  }

  .rental-card-content .content-list .list-item {
    gap: 2.666666667vw;
  }

  .content-list .list-item .list-item-img__wrapper {
    width: 2.133333334vw;
    height: 2.133333334vw;
  }

  .content-list .list-item .list-item-text {
    font-weight: 300;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .procedure__wrapper .note {
    font-weight: 400;
    font-size: 4vw;
    line-height: 160%;
    letter-spacing: 0.053333334vw;

    padding-top: 5.333333334vw;
  }

  .procedure__wrapper .divider {
    width: 100%;
    height: 0.133333334vw;
    background-color: #f2f2f2;
    margin: 13.33333334vw 0vw;
    display: none;
  }

  /* DIVIDER MOBILE*/
  .rental-procedure-page .divider-mobile {
    display: block;
    width: 100%;
    height: 2.666666667vw;
    background-color: #f2f2f2;

    margin: 13.33333334vw 0vw;
  }
  /* END DIVIDER MOBILE */

  /* ------- SEE MORE ------- */
  .see-more__wrapper {
    padding: 0vw 3.733333334vw;
  }
  .see-more__wrapper .see-more-container {
    padding-bottom: 13.33333334vw;
  }
  .see-more-container .title {
    font-weight: 500;
    font-size: 5.333333334vw;
    line-height: 150%;
    letter-spacing: 0.026666667vw;

    padding-bottom: 8vw;
  }
  .see-more-container .see-more-list {
    gap: 5.333333334vw;
  }

  .see-more-container .see-more-list .see-more-item {
    gap: 2.933333334vw;

    font-weight: 400;
    font-size: 4vw;
    line-height: 150%;
    letter-spacing: 0.053333334vw;
  }

  .see-more-item .see-more-img__wrapper {
    width: 1.333333334vw;
    height: 2.666666667vw;
  }
  /* ------- END SEE MORE ------- */
}
